@import "compass/css3";
@import "theme_variables";

.featured-products{
	padding: 30px 0;
	.products-section-title{
		text-transform: none;
		font-size: 32px;
	}
	.banner-block{
		padding: 0;
		@media (min-width: $md) and (max-width: $lg - 1){
			display: none;
		}
	}
	.all-product-link{
		
	}
	.section-footer{
		text-align: center;
		.btn{
			.material-icons{
				margin-right: 0;
			}
		}
	}
}

.page-home .featured-products{
	.products{
		padding: 0;
	}
}