@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: 500; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 600; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome/fontawesome-webfont.ttf");
  src: url("../fonts/FontAwesome/fontawesome-webfont.woff");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
  src: url("../fonts/FontAwesome/FontAwesome.otf"); }
#_desktop_top_menu {
  margin-bottom: 0; }

#header #top-menu {
  float: left;
  width: 100%;
  margin-bottom: 0; }
  #header #top-menu > li {
    float: left; }
    #header #top-menu > li:hover a {
      color: #FFFFFF;
      background: #19184A; }
  #header #top-menu a {
    padding: .6rem .6rem;
    color: #FFFFFF;
    text-transform: uppercase; }
    #header #top-menu a:hover {
      color: #FFFFFF;
      background: #19184A; }
  #header #top-menu .sub-menu {
    margin: 0;
    left: 15px;
    padding: .625rem;
    background: #19184A;
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1); }
    #header #top-menu .sub-menu .top-menu {
      float: left;
      width: 100%; }
      #header #top-menu .sub-menu .top-menu > li {
        margin: 0;
        padding: 0 1.25rem; }
    #header #top-menu .sub-menu a:hover {
      color: #ED3237; }
#header .header-top .menu {
  margin-bottom: 0; }

#mobile_top_menu_wrapper {
  background: #222063; }
  #mobile_top_menu_wrapper .top-menu li {
    float: none;
    width: 100%; }

.cart-preview {
  width: 140px; }
  .cart-preview .header {
    margin-top: 0;
    padding: 0; }
  .cart-preview a,
  .cart-preview .inactive-cart {
    display: block;
    background: #FFFFFF;
    padding: 10px 10px 10px 50px;
    position: relative;
    z-index: 1;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    text-decoration: none;
    min-height: 50px; }
    .cart-preview a .cart-label,
    .cart-preview .inactive-cart .cart-label {
      font-weight: 600;
      color: #000000;
      font-size: 14px;
      line-height: 1em;
      display: block;
      margin-bottom: 3px; }
    .cart-preview a .total-price,
    .cart-preview .inactive-cart .total-price {
      font-weight: 400;
      color: #000000;
      font-size: 12px;
      line-height: 1em;
      display: block; }
      .cart-preview a .total-price.empty,
      .cart-preview .inactive-cart .total-price.empty {
        display: none; }
      @media (max-width: 767px) {
        .cart-preview a .total-price,
        .cart-preview .inactive-cart .total-price {
          font-weight: 600;
          font-size: 14px;
          margin-top: 5px; } }
    .cart-preview a:hover .cart-label,
    .cart-preview .inactive-cart:hover .cart-label {
      color: #222063; }
  .cart-preview .icon-bag {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/icon-shop-bag.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 10px; }
  .cart-preview.active {
    background: none; }
  .cart-preview.inactive .icon-bag {
    opacity: .2; }
  .cart-preview.inactive .header {
    display: block; }

#header .header-nav .cart-preview {
  padding: 0; }
  #header .header-nav .cart-preview a,
  #header .header-nav .cart-preview .inactive-cart {
    min-height: 40px;
    padding: 5px 5px 5px 40px; }
  #header .header-nav .cart-preview .icon-bag {
    width: 20px;
    height: 20px;
    top: 5px; }
  #header .header-nav .cart-preview.active {
    background: none; }

#blockcart-modal.in {
  opacity: 1 !important; }
#blockcart-modal .modal-dialog {
  max-width: 600px; }
#blockcart-modal .modal-body {
  padding: 20px; }
  #blockcart-modal .modal-body > .row {
    flex-direction: column; }
  #blockcart-modal .modal-body .img-block {
    max-width: 170px;
    margin: auto; }
  #blockcart-modal .modal-body .infos {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; }
    #blockcart-modal .modal-body .infos > span {
      display: block;
      margin-bottom: 5px; }
  #blockcart-modal .modal-body .product-name {
    color: #000000; }
  #blockcart-modal .modal-body .product-price {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px; }
  #blockcart-modal .modal-body .cart-content {
    padding-left: 0; }
    #blockcart-modal .modal-body .cart-content .cart-content-btn {
      display: flex;
      justify-content: center; }
      #blockcart-modal .modal-body .cart-content .cart-content-btn .btn {
        flex: 0 0 40%; }

#header .header-nav .user-info {
  margin: 0; }
  #header .header-nav .user-info .logged {
    color: #222063; }
#header .user-info a {
  float: right; }
  #header .user-info a:hover {
    color: #222063; }
#header #_mobile_user_info {
  padding-top: 5px; }

.block-contact {
  padding-left: 15px;
  font-size: 14px;
  border-left: none; }
  .block-contact .address {
    margin-bottom: 20px; }
  .block-contact .contact-infos span {
    display: block; }
  .block-contact .contact-infos a {
    color: #706f6f; }
    .block-contact .contact-infos a:hover {
      color: #222063; }
  @media (min-width: 768px) and (max-width: 991px) {
    .block-contact {
      padding-top: 30px; }
      .block-contact .content {
        display: flex;
        width: 100%; }
      .block-contact .address {
        width: 30%; }
      .block-contact .contact-infos {
        padding-left: 30px; } }
  @media (max-width: 768px) {
    .block-contact {
      padding: 15px !important;
      padding-right: 15px !important;
      padding-left: 15px !important; } }

.contact-top {
  background: #EEEEEE;
  font-size: 12px;
  line-height: 1em;
  padding: 5px 10px;
  margin-left: 15px;
  border-radius: 3px;
  position: relative;
  right: -5px;
  width: 135px; }
  .contact-top .whatsapp {
    margin-bottom: 3px; }
  .contact-top .fa-whatsapp {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/icon-whatsapp.svg") center center no-repeat;
    background-size: contain;
    margin-right: 5px;
    position: relative;
    top: 2px; }
  .contact-top .fa-phone {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/icon-phone.svg") center center no-repeat;
    background-size: contain;
    margin-right: 5px;
    position: relative;
    top: 2px; }
  @media (max-width: 1199px) {
    .contact-top {
      width: 175px; } }
  @media (max-width: 991px) {
    .contact-top {
      display: none; } }

#_mobile_contact_link a {
  text-transform: uppercase;
  color: #FFFFFF !important;
  font-weight: 600;
  font-size: 16px; }

#homeslider.carousel {
  margin-bottom: 3rem;
  box-shadow: none; }
  #homeslider.carousel .carousel-inner {
    height: auto; }
    #homeslider.carousel .carousel-inner .carousel-item figure {
      margin-bottom: 0; }
      #homeslider.carousel .carousel-inner .carousel-item figure img {
        max-width: 100%;
        height: auto; }
  #homeslider.carousel .owl-carousel {
    overflow: visible; }
    #homeslider.carousel .owl-carousel .owl-dots {
      position: absolute;
      left: 50%;
      bottom: -30px;
      border-radius: 4px;
      text-align: center;
      padding: 5px 5px;
      height: 26px;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      #homeslider.carousel .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
        margin: 0 5px; }
        #homeslider.carousel .owl-carousel .owl-dots .owl-dot span {
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background: #ccc; }
        #homeslider.carousel .owl-carousel .owl-dots .owl-dot.active, #homeslider.carousel .owl-carousel .owl-dots .owl-dot:focus {
          outline: none;
          box-shadow: none; }
          #homeslider.carousel .owl-carousel .owl-dots .owl-dot.active span, #homeslider.carousel .owl-carousel .owl-dots .owl-dot:focus span {
            background: #222063; }
    #homeslider.carousel .owl-carousel .owl-nav {
      display: none; }
      #homeslider.carousel .owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.7);
        color: #FFFFFF;
        position: absolute;
        top: calc(50% - 15px);
        text-align: center;
        padding-top: 6px; }
        #homeslider.carousel .owl-carousel .owl-nav button:before {
          content: "";
          display: block;
          font-family: "FontAwesome";
          font-size: 18px; }
        #homeslider.carousel .owl-carousel .owl-nav button:hover {
          background: #000000; }
      #homeslider.carousel .owl-carousel .owl-nav .owl-prev {
        left: 0; }
        #homeslider.carousel .owl-carousel .owl-nav .owl-prev:before {
          content: "\f104"; }
      #homeslider.carousel .owl-carousel .owl-nav .owl-next {
        right: 0; }
        #homeslider.carousel .owl-carousel .owl-nav .owl-next:before {
          content: "\f105"; }

#search_widget {
  display: flex; }
  #search_widget .desc {
    flex: 0 0 200px;
    padding-right: 15px;
    align-self: center; }
    #search_widget .desc span,
    #search_widget .desc strong {
      display: block;
      color: #222063;
      font-size: 12px;
      line-height: 14px;
      text-align: right; }
  #search_widget form {
    flex: 0 0 calc(100% - 200px);
    align-self: center; }
    @media (max-width: 1199px) {
      #search_widget form {
        flex: 0 0 100%; } }
    #search_widget form input[type="text"] {
      font-size: 12px;
      border-radius: 3px;
      border-color: #EEEEEE;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06); }
      #search_widget form input[type="text"]:focus {
        outline-color: rgba(0, 0, 0, 0.2); }
    #search_widget form button {
      bottom: 0;
      top: 0;
      right: 0;
      color: #FFFFFF;
      background: #ED3237;
      border: 1px solid #CC2D31;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 3px;
      font-weight: 500;
      font-size: 16px; }
      #search_widget form button:hover {
        cursor: pointer;
        background: #CC2D31; }
        #search_widget form button:hover .material-icons {
          color: #FFFFFF; }

#content.page-not-found #search_widget {
  width: 100%; }
  #content.page-not-found #search_widget form {
    width: 100%;
    flex: 0 0 100%; }
  #content.page-not-found #search_widget .desc {
    display: none; }

.featured-products {
  padding: 30px 0; }
  .featured-products .products-section-title {
    text-transform: none;
    font-size: 32px; }
  .featured-products .banner-block {
    padding: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .featured-products .banner-block {
        display: none; } }
  .featured-products .section-footer {
    text-align: center; }
    .featured-products .section-footer .btn .material-icons {
      margin-right: 0; }

.page-home .featured-products .products {
  padding: 0; }

.block_newsletter {
  margin-bottom: 0; }
  .block_newsletter #block-newsletter-label {
    font-size: 14px; }
  .block_newsletter .row {
    flex-direction: column; }
  .block_newsletter form input[type="text"] {
    border-radius: 3px; }
  .block_newsletter .conditions {
    font-size: 12px;
    color: #222063;
    padding-top: 5px;
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .block_newsletter {
      padding-top: 30px;
      border-bottom: none; } }

.block-social ul {
  margin-bottom: 0; }
.block-social li {
  background-color: #222063;
  border-radius: 100%;
  background-size: 80%;
  background-position: center center; }
  .block-social li:hover {
    background-color: #2f2c8a; }
@media (max-width: 767px) {
  .block-social {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px; } }

.block-categories {
  padding: 15px;
  box-shadow: none; }
  .block-categories .h6 {
    text-transform: none !important; }
  .block-categories .category-sub-menu li[data-depth="0"] > a {
    font-weight: 400;
    color: #706f6f;
    font-size: 14px;
    border-color: rgba(0, 0, 0, 0.1); }
    .block-categories .category-sub-menu li[data-depth="0"] > a:hover {
      color: #000000; }

#search_filters {
  padding: 15px;
  box-shadow: none; }
  #search_filters .h6 {
    text-transform: none !important; }
  #search_filters .facet .facet-label a {
    font-size: 12px; }

@media (max-width: 768px) {
  #products .products,
  .featured-products .products,
  .product-accessories .products,
  .category-products .products,
  .product-miniature .products {
    flex-direction: row; } }
#products .products .product-miniature,
.featured-products .products .product-miniature,
.product-accessories .products .product-miniature,
.category-products .products .product-miniature,
.product-miniature .products .product-miniature {
  display: flex;
  flex: 0 0 33.333333333%;
  width: 33.333333333%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 .625rem; }
  @media (max-width: 1199px) {
    #products .products .product-miniature,
    .featured-products .products .product-miniature,
    .product-accessories .products .product-miniature,
    .category-products .products .product-miniature,
    .product-miniature .products .product-miniature {
      flex: 0 0 33.333333333%;
      width: 33.333333333%; } }
  @media (max-width: 991px) {
    #products .products .product-miniature,
    .featured-products .products .product-miniature,
    .product-accessories .products .product-miniature,
    .category-products .products .product-miniature,
    .product-miniature .products .product-miniature {
      flex: 0 0 50%;
      width: 50%; } }
  @media (max-width: 575px) {
    #products .products .product-miniature,
    .featured-products .products .product-miniature,
    .product-accessories .products .product-miniature,
    .category-products .products .product-miniature,
    .product-miniature .products .product-miniature {
      flex: 0 0 100%;
      width: 100%; } }
  #products .products .product-miniature .thumbnail-container,
  .featured-products .products .product-miniature .thumbnail-container,
  .product-accessories .products .product-miniature .thumbnail-container,
  .category-products .products .product-miniature .thumbnail-container,
  .product-miniature .products .product-miniature .thumbnail-container {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    #products .products .product-miniature .thumbnail-container:hover,
    .featured-products .products .product-miniature .thumbnail-container:hover,
    .product-accessories .products .product-miniature .thumbnail-container:hover,
    .category-products .products .product-miniature .thumbnail-container:hover,
    .product-miniature .products .product-miniature .thumbnail-container:hover {
      box-shadow: 0 3px 13px rgba(0, 0, 0, 0.06);
      border-color: #EEEEEE; }
      #products .products .product-miniature .thumbnail-container:hover .button-container,
      .featured-products .products .product-miniature .thumbnail-container:hover .button-container,
      .product-accessories .products .product-miniature .thumbnail-container:hover .button-container,
      .category-products .products .product-miniature .thumbnail-container:hover .button-container,
      .product-miniature .products .product-miniature .thumbnail-container:hover .button-container {
        opacity: 1; }
  #products .products .product-miniature .thumbnail,
  .featured-products .products .product-miniature .thumbnail,
  .product-accessories .products .product-miniature .thumbnail,
  .category-products .products .product-miniature .thumbnail,
  .product-miniature .products .product-miniature .thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 10px; }
    #products .products .product-miniature .thumbnail img,
    .featured-products .products .product-miniature .thumbnail img,
    .product-accessories .products .product-miniature .thumbnail img,
    .category-products .products .product-miniature .thumbnail img,
    .product-miniature .products .product-miniature .thumbnail img {
      margin-left: 0;
      width: 100%;
      height: auto; }
  #products .products .product-miniature .product-description,
  .featured-products .products .product-miniature .product-description,
  .product-accessories .products .product-miniature .product-description,
  .category-products .products .product-miniature .product-description,
  .product-miniature .products .product-miniature .product-description {
    width: 100%;
    height: auto;
    position: unset;
    padding-bottom: 10px;
    box-shadow: none; }
    #products .products .product-miniature .product-description:after,
    .featured-products .products .product-miniature .product-description:after,
    .product-accessories .products .product-miniature .product-description:after,
    .category-products .products .product-miniature .product-description:after,
    .product-miniature .products .product-miniature .product-description:after {
      display: none !important; }
  #products .products .product-miniature .product_manufacturer,
  .featured-products .products .product-miniature .product_manufacturer,
  .product-accessories .products .product-miniature .product_manufacturer,
  .category-products .products .product-miniature .product_manufacturer,
  .product-miniature .products .product-miniature .product_manufacturer {
    font-size: 12px;
    font-weight: 600;
    color: #706f6f;
    opacity: .6; }
  #products .products .product-miniature .product-title,
  .featured-products .products .product-miniature .product-title,
  .product-accessories .products .product-miniature .product-title,
  .category-products .products .product-miniature .product-title,
  .product-miniature .products .product-miniature .product-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
    font-weight: 400px;
    color: #000000; }
    #products .products .product-miniature .product-title a,
    .featured-products .products .product-miniature .product-title a,
    .product-accessories .products .product-miniature .product-title a,
    .category-products .products .product-miniature .product-title a,
    .product-miniature .products .product-miniature .product-title a {
      font-size: 1em;
      color: #000000; }
  #products .products .product-miniature .product-price-and-shipping,
  .featured-products .products .product-miniature .product-price-and-shipping,
  .product-accessories .products .product-miniature .product-price-and-shipping,
  .category-products .products .product-miniature .product-price-and-shipping,
  .product-miniature .products .product-miniature .product-price-and-shipping {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    min-height: 50px; }
    #products .products .product-miniature .product-price-and-shipping .regular,
    .featured-products .products .product-miniature .product-price-and-shipping .regular,
    .product-accessories .products .product-miniature .product-price-and-shipping .regular,
    .category-products .products .product-miniature .product-price-and-shipping .regular,
    .product-miniature .products .product-miniature .product-price-and-shipping .regular {
      font-size: 12px;
      line-height: 1em; }
      #products .products .product-miniature .product-price-and-shipping .regular .from,
      .featured-products .products .product-miniature .product-price-and-shipping .regular .from,
      .product-accessories .products .product-miniature .product-price-and-shipping .regular .from,
      .category-products .products .product-miniature .product-price-and-shipping .regular .from,
      .product-miniature .products .product-miniature .product-price-and-shipping .regular .from {
        color: #000000; }
      #products .products .product-miniature .product-price-and-shipping .regular .regular-price,
      .featured-products .products .product-miniature .product-price-and-shipping .regular .regular-price,
      .product-accessories .products .product-miniature .product-price-and-shipping .regular .regular-price,
      .category-products .products .product-miniature .product-price-and-shipping .regular .regular-price,
      .product-miniature .products .product-miniature .product-price-and-shipping .regular .regular-price {
        color: #706f6f;
        opacity: .6; }
    #products .products .product-miniature .product-price-and-shipping .current,
    .featured-products .products .product-miniature .product-price-and-shipping .current,
    .product-accessories .products .product-miniature .product-price-and-shipping .current,
    .category-products .products .product-miniature .product-price-and-shipping .current,
    .product-miniature .products .product-miniature .product-price-and-shipping .current {
      font-size: 12px;
      line-height: 1em; }
      #products .products .product-miniature .product-price-and-shipping .current .for-only,
      .featured-products .products .product-miniature .product-price-and-shipping .current .for-only,
      .product-accessories .products .product-miniature .product-price-and-shipping .current .for-only,
      .category-products .products .product-miniature .product-price-and-shipping .current .for-only,
      .product-miniature .products .product-miniature .product-price-and-shipping .current .for-only {
        color: #000000; }
      #products .products .product-miniature .product-price-and-shipping .current .price,
      .featured-products .products .product-miniature .product-price-and-shipping .current .price,
      .product-accessories .products .product-miniature .product-price-and-shipping .current .price,
      .category-products .products .product-miniature .product-price-and-shipping .current .price,
      .product-miniature .products .product-miniature .product-price-and-shipping .current .price {
        color: #ED3237;
        font-size: 18px; }
  #products .products .product-miniature .button-container,
  .featured-products .products .product-miniature .button-container,
  .product-accessories .products .product-miniature .button-container,
  .category-products .products .product-miniature .button-container,
  .product-miniature .products .product-miniature .button-container {
    opacity: 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 1199px) {
      #products .products .product-miniature .button-container,
      .featured-products .products .product-miniature .button-container,
      .product-accessories .products .product-miniature .button-container,
      .category-products .products .product-miniature .button-container,
      .product-miniature .products .product-miniature .button-container {
        opacity: 1; } }
  #products .products .product-miniature .product-flags,
  .featured-products .products .product-miniature .product-flags,
  .product-accessories .products .product-miniature .product-flags,
  .category-products .products .product-miniature .product-flags,
  .product-miniature .products .product-miniature .product-flags {
    right: 0;
    left: 0; }
  #products .products .product-miniature .product-flag,
  .featured-products .products .product-miniature .product-flag,
  .product-accessories .products .product-miniature .product-flag,
  .category-products .products .product-miniature .product-flag,
  .product-miniature .products .product-miniature .product-flag {
    font-size: 12px;
    line-height: 12px;
    min-height: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
    margin-top: 0; }
    #products .products .product-miniature .product-flag.new,
    .featured-products .products .product-miniature .product-flag.new,
    .product-accessories .products .product-miniature .product-flag.new,
    .category-products .products .product-miniature .product-flag.new,
    .product-miniature .products .product-miniature .product-flag.new {
      background: #222063;
      top: 10px !important;
      right: 10px;
      left: auto; }
  #products .products .product-miniature .discount-product.discount-amount,
  #products .products .product-miniature .discount-product.discount-percentage,
  .featured-products .products .product-miniature .discount-product.discount-amount,
  .featured-products .products .product-miniature .discount-product.discount-percentage,
  .product-accessories .products .product-miniature .discount-product.discount-amount,
  .product-accessories .products .product-miniature .discount-product.discount-percentage,
  .category-products .products .product-miniature .discount-product.discount-amount,
  .category-products .products .product-miniature .discount-product.discount-percentage,
  .product-miniature .products .product-miniature .discount-product.discount-amount,
  .product-miniature .products .product-miniature .discount-product.discount-percentage {
    background: #ED3237;
    font-size: 12px;
    line-height: 12px;
    min-height: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
    top: 10px !important;
    left: 10px; }
  #products .products .product-miniature .highlighted-informations,
  .featured-products .products .product-miniature .highlighted-informations,
  .product-accessories .products .product-miniature .highlighted-informations,
  .category-products .products .product-miniature .highlighted-informations,
  .product-miniature .products .product-miniature .highlighted-informations {
    display: none; }

.featured-products img {
  margin-left: 0; }

@media (min-width: 1200px) {
  .featured-products .products .product-miniature {
    flex: 0 0 33.333333333%;
    width: 33.333333333%; } }
@media (max-width: 1199px) {
  .featured-products .products .product-miniature {
    flex: 0 0 33.333333333%;
    width: 33.333333333%; } }
@media (max-width: 767px) {
  .featured-products .products .product-miniature {
    flex: 0 0 50%;
    width: 50%; } }
@media (max-width: 575px) {
  .featured-products .products .product-miniature {
    flex: 0 0 100%;
    width: 100%; } }

.category-products .products .product-miniature {
  flex: 0 0 100%;
  width: 100%; }

#products .up .btn-secondary {
  color: #FFFFFF; }
@media (max-width: 767px) {
  #products .up {
    font-size: 12px;
    line-height: 12px;
    min-height: 20px; } }

@media (max-width: 767px) {
  #product #main > .row {
    flex-direction: column; } }
#product .product-infos {
  padding: 0; }
  @media (min-width: 768px) {
    #product .product-infos {
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      border: 1px solid #EEEEEE;
      padding: 20px; } }
  #product .product-infos .product-name {
    text-transform: none;
    color: #222063;
    font-size: 32px; }
#product .product-flags .product-flag.new {
  background: #222063;
  border-radius: 3px; }
#product .product-flags .discount-product.discount-percentage {
  background: #ED3237;
  border-radius: 3px; }
#product .images-container .product-cover img {
  box-shadow: none; }
#product .images-container .product-images > li.thumb-container > .thumb {
  box-shadow: none; }
#product .images-container .product-images > li.thumb-container > .thumb.selected,
#product .images-container .product-images > li.thumb-container > .thumb:hover {
  border-color: #222063; }
#product .short-description {
  font-size: 16px;
  line-height: 1.5em;
  color: #706f6f; }
#product .product-prices {
  margin: 15px 0; }
  #product .product-prices div {
    margin-bottom: 0; }
  #product .product-prices .regular-price {
    font-size: 16px;
    line-height: 1em; }
    #product .product-prices .regular-price .from {
      color: #000000; }
    #product .product-prices .regular-price .regular-price {
      color: #706f6f;
      opacity: .6; }
  #product .product-prices .current-price {
    font-size: 16px;
    line-height: 1em; }
    #product .product-prices .current-price .for-only {
      color: #000000; }
    #product .product-prices .current-price .price {
      font-size: 22px;
      line-height: 22px;
      color: #ED3237; }
  #product .product-prices .split-price {
    font-size: 14px;
    line-height: 14px;
    color: #ED3237;
    margin-bottom: 10px; }
  #product .product-prices .has-discount.product-price {
    color: #ED3237; }
  #product .product-prices .has-discount .discount {
    background: #222063;
    font-weight: 400;
    padding: 5px 5px 2px;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    top: -5px;
    margin-left: 5px;
    display: none; }
#product .product-variants > .product-variants-item select {
  box-shadow: none;
  border-radius: 3px; }
#product .product-quantity {
  flex-direction: column;
  margin-bottom: 10px; }
  #product .product-quantity .qty .bootstrap-touchspin {
    box-shadow: none;
    border-radius: 2px; }
  #product .product-quantity .qty .bootstrap-touchspin-up {
    border-radius: 0 3px 0 0;
    border: 1px solid #EEEEEE; }
  #product .product-quantity .qty .bootstrap-touchspin-up {
    border-radius: 0 0 3px 0;
    border: 1px solid #EEEEEE; }
  #product .product-quantity .qty #quantity_wanted {
    border: 1px solid #EEEEEE; }
#product .add .btn {
  height: auto; }
  #product .add .btn .icon-bag {
    width: 30px; }
    @media (max-width: 767px) {
      #product .add .btn .icon-bag {
        width: 20px; } }
  #product .add .btn strong {
    font-size: 20px;
    top: 0; }
  #product .add .btn span {
    font-size: 12px; }
#product .frete {
  text-align: left;
  color: #000000;
  font-size: 14px;
  padding-top: 10px; }
#product .correios-content {
  margin-bottom: 0;
  clear: both; }
  #product .correios-content .title {
    color: #000000; }
  #product .correios-content label {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: left; }
  #product .correios-content .group {
    display: inline-block;
    position: relative; }
  #product .correios-content #sCepDestino {
    width: 250px;
    background: #EEEEEE;
    height: 45px;
    float: left;
    border: none;
    border-radius: 0; }
  #product .correios-content .btn {
    font-size: 15px;
    height: 35px;
    padding: 4px 10px;
    background: #EEEEEE;
    font-weight: 600;
    color: #000000;
    position: absolute;
    text-transform: uppercase;
    top: 5px;
    right: 5px;
    border: 1px solid #d5d5d5; }
    #product .correios-content .btn:hover {
      background: #d5d5d5; }
  #product .correios-content .correios_calculos {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 0 10px;
    position: relative; }
    #product .correios-content .correios_calculos.loading:before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 0;
      width: 200px;
      height: 30px;
      background: url("../img/addtocart_loader.gif") center center no-repeat;
      background-size: 20px;
      z-index: 4; }
    #product .correios-content .correios_calculos li {
      border-bottom: 1px solid #bbbbbb;
      padding: 7px 5px;
      background: #EEEEEE;
      max-width: 270px;
      display: flex; }
      #product .correios-content .correios_calculos li:first-child {
        border-radius: 4px 4px 0 0; }
        #product .correios-content .correios_calculos li:first-child:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 0 15px;
          border-color: transparent transparent transparent #EEEEEE;
          position: absolute;
          top: -15px;
          left: 15px; }
      #product .correios-content .correios_calculos li:last-child {
        margin-bottom: 0;
        border-bottom: none;
        border-radius: 0 0 4px 4px; }
      #product .correios-content .correios_calculos li .service-name {
        flex: 0 0 70%; }
      #product .correios-content .correios_calculos li > .service-value {
        float: right; }
      #product .correios-content .correios_calculos li .service-value {
        color: #000000;
        font-weight: bold;
        padding-left: 10px;
        flex: 0 0 30%; }
        #product .correios-content .correios_calculos li .service-value.free {
          font-size: 12px; }
      #product .correios-content .correios_calculos li .values {
        flex: 0 0 30%;
        text-align: right;
        align-self: flex-end; }
        #product .correios-content .correios_calculos li .values span, #product .correios-content .correios_calculos li .values b {
          display: block;
          float: none; }
        #product .correios-content .correios_calculos li .values .old-value {
          text-decoration: line-through;
          font-size: 12px;
          line-height: 12px; }
#product .social-sharing li {
  border: 2px solid #e1e1e1;
  background-position: .20rem .20rem;
  box-shadow: none; }
@media (max-width: 767px) {
  #product .social-sharing {
    flex-direction: column;
    text-align: left;
    align-items: flex-start; }
    #product .social-sharing span {
      display: block;
      margin-bottom: 5px; }
    #product .social-sharing li {
      margin-left: 0;
      margin: 10px; } }

.product-colors {
  clear: both; }
  .product-colors .box {
    padding: 15px; }
    .product-colors .box .title {
      font-size: 20px;
      color: #222063;
      padding: 0 15px;
      margin-bottom: 20px; }
    .product-colors .box .row {
      flex-wrap: wrap; }
      @media (max-width: 768px) {
        .product-colors .box .row {
          flex-direction: row; } }
      .product-colors .box .row .color-item {
        padding-bottom: 30px; }
        .product-colors .box .row .color-item .color-box {
          border: 1px solid #EEEEEE;
          border-radius: 4px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06); }
        .product-colors .box .row .color-item .img {
          margin-bottom: 10px;
          padding: 5px;
          text-align: center; }
        .product-colors .box .row .color-item .color-name {
          text-transform: uppercase;
          font-size: 14px;
          display: block;
          text-align: center;
          margin-bottom: 5px;
          color: #706f6f;
          opacity: .6; }
        .product-colors .box .row .color-item .qty {
          width: 100%;
          display: flex;
          background: #EEEEEE;
          padding: 5px;
          justify-content: center; }
          .product-colors .box .row .color-item .qty input[type="text"] {
            border-radius: 3px;
            border: 1px solid #e1e1e1;
            height: 30px;
            width: 80px;
            font-size: 14px;
            text-align: center;
            align-self: center; }
          .product-colors .box .row .color-item .qty .btn {
            color: #706f6f;
            height: 30px;
            padding: 5px 10px;
            font-size: 18px;
            line-height: 1em;
            align-self: center; }
            .product-colors .box .row .color-item .qty .btn:hover {
              color: #268BD5; }
        .product-colors .box .row .color-item .color-price {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px; }
          .product-colors .box .row .color-item .color-price .price {
            color: #ED3237; }

.product-tabs-section .tabs {
  padding: 15px;
  box-shadow: none; }
  .product-tabs-section .tabs .nav-tabs .nav-item .nav-link {
    color: #706f6f; }
    .product-tabs-section .tabs .nav-tabs .nav-item .nav-link:hover, .product-tabs-section .tabs .nav-tabs .nav-item .nav-link.active {
      color: #ED3237;
      border-color: #ED3237; }
    @media (max-width: 767px) {
      .product-tabs-section .tabs .nav-tabs .nav-item .nav-link {
        font-size: 12px;
        line-height: 12px;
        padding: 6px; } }
.product-tabs-section .product-description p {
  font-size: 16px;
  line-height: 1.5em;
  color: #706f6f; }

.full-description {
  clear: both;
  width: 100%;
  padding: 30px 0; }
  .full-description .title {
    font-size: 20px;
    color: #222063;
    padding: 0 15px;
    margin-bottom: 20px; }
  .full-description .product-description p {
    font-size: 16px;
    line-height: 1.5em;
    color: #706f6f; }

.category-products {
  clear: both; }
  .category-products .title {
    font-size: 20px;
    color: #222063;
    padding: 0 15px;
    margin-bottom: 20px; }
  .category-products .owl-carousel {
    overflow: visible; }
    .category-products .owl-carousel .owl-dots {
      position: absolute;
      left: 50%;
      bottom: -30px;
      border-radius: 4px;
      text-align: center;
      padding: 5px 5px;
      height: 26px;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      .category-products .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
        margin: 0 5px; }
        .category-products .owl-carousel .owl-dots .owl-dot span {
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background: #ccc; }
        .category-products .owl-carousel .owl-dots .owl-dot.active, .category-products .owl-carousel .owl-dots .owl-dot:focus {
          outline: none;
          box-shadow: none; }
          .category-products .owl-carousel .owl-dots .owl-dot.active span, .category-products .owl-carousel .owl-dots .owl-dot:focus span {
            background: #222063; }
    .category-products .owl-carousel .owl-nav {
      display: none; }
      .category-products .owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.7);
        color: #FFFFFF;
        position: absolute;
        top: calc(50% - 15px);
        text-align: center;
        padding-top: 6px; }
        .category-products .owl-carousel .owl-nav button:before {
          content: "";
          display: block;
          font-family: "FontAwesome";
          font-size: 18px; }
        .category-products .owl-carousel .owl-nav button:hover {
          background: #000000; }
      .category-products .owl-carousel .owl-nav .owl-prev {
        left: 0; }
        .category-products .owl-carousel .owl-nav .owl-prev:before {
          content: "\f104"; }
      .category-products .owl-carousel .owl-nav .owl-next {
        right: 0; }
        .category-products .owl-carousel .owl-nav .owl-next:before {
          content: "\f105"; }

.block-category {
  min-height: 0;
  padding: 15px; }
  .block-category .h1 {
    color: #222063;
    font-size: 36px;
    text-transform: none; }
  .block-category #category-description {
    color: #706f6f;
    font-size: 16px;
    line-height: 1.5em; }
    .block-category #category-description * {
      font-size: 16px !important;
      line-height: 1.5em; }

.products-selection .total-products {
  font-size: 14px; }
.products-selection .sort-by-row .sort-by {
  line-height: 14px;
  font-size: 14px; }
.products-selection .filter-button {
  padding-left: 15px; }
@media (max-width: 767px) {
  .products-selection {
    flex-direction: column; }
    .products-selection .showing {
      font-size: 12px; } }

@media (max-width: 767px) {
  #search_filter_toggler {
    font-size: 12px;
    line-height: 12px; } }

#authentication #wrapper .page-header h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  padding-top: 20px;
  margin-top: 0; }
#authentication #content .forgot-password a {
  color: #706f6f; }
#authentication #content .no-account a {
  color: #000000; }
  @media (max-width: 767px) {
    #authentication #content .no-account a {
      font-size: 12px; } }

#wrapper .page-header h1 {
  text-align: left;
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  padding-top: 20px;
  margin-top: 0; }
#wrapper .page-footer a {
  color: #000000; }

#content #login-form .form-group,
#content #customer-form .form-group,
#content .address-form .form-group {
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px; }
  #content #login-form .form-group .form-control-label,
  #content #customer-form .form-group .form-control-label,
  #content .address-form .form-group .form-control-label {
    text-align: left;
    font-size: 16px;
    color: #000000;
    padding-top: 0;
    margin-bottom: 0; }
  #content #login-form .form-group .form-control-label,
  #content #login-form .form-group > div,
  #content #customer-form .form-group .form-control-label,
  #content #customer-form .form-group > div,
  #content .address-form .form-group .form-control-label,
  #content .address-form .form-group > div {
    width: 100%;
    max-width: 400px; }
  #content #login-form .form-group .input-group .input-group-btn > .btn[data-action=show-password],
  #content #customer-form .form-group .input-group .input-group-btn > .btn[data-action=show-password],
  #content .address-form .form-group .input-group .input-group-btn > .btn[data-action=show-password] {
    height: 38px; }
  #content #login-form .form-group .form-control-comment,
  #content #customer-form .form-group .form-control-comment,
  #content .address-form .form-group .form-control-comment {
    padding-top: 0; }
#content #login-form .form-footer .btn,
#content #customer-form .form-footer .btn,
#content .address-form .form-footer .btn {
  width: 180px; }
#content #customer-form .form-group,
#content .address-form .form-group {
  align-items: flex-start; }
#content #customer-form .form-footer .btn,
#content .address-form .form-footer .btn {
  float: left !important; }

.page-addresses #content .address a {
  text-decoration: none; }

.order-message-form .form-fields .form-group {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px; }
  .order-message-form .form-fields .form-group .form-control-label {
    text-align: left;
    font-size: 16px;
    color: #000000;
    padding-top: 0;
    margin-bottom: 0; }
.order-message-form .form-footer {
  text-align: left !important; }
  .order-message-form .form-footer .btn {
    width: 180px; }

#history .order-actions a {
  display: inline-block;
  color: #268BD5; }

#order-infos .boleto .badge {
  font-size: 16px; }

#order-detail .new-order {
  text-align: center;
  margin-bottom: 30px; }
  #order-detail .new-order .img {
    margin-bottom: 10px; }
  #order-detail .new-order strong {
    display: block;
    font-size: 24px;
    color: #000000;
    margin-bottom: 5px; }
  #order-detail .new-order span {
    display: block;
    font-size: 18px;
    color: #000000; }

#my-account .links > a {
  text-decoration: none; }
  #my-account .links > a:hover .icon {
    color: #000000; }
  #my-account .links > a:hover .material-icons {
    color: #222063 !important; }

#cart #wrapper {
  padding-top: 30px; }
  #cart #wrapper h1 {
    font-weight: 600;
    text-transform: none;
    font-size: 36px; }
    @media (max-width: 767px) {
      #cart #wrapper h1 {
        font-size: 24px; } }
#cart .cart-summary .checkout .btn-primary {
  font-weight: 600; }
#cart .cart-items .cart-item .product-line-info {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px; }
  #cart .cart-items .cart-item .product-line-info .label {
    font-size: 14px;
    line-height: 14px; }
#cart .cart-items .cart-item .product-price {
  font-size: 14px;
  line-height: 14px;
  color: #ED3237; }
#cart .cart-items .cart-item .discount {
  background: #222063;
  font-size: 12px;
  line-height: 12px; }
@media (max-width: 767px) {
  #cart .cart-items .cart-item .qty {
    margin-bottom: 10px; } }
@media (max-width: 767px) {
  #cart .cart-items .cart-item .product-line-actions div .row {
    flex-direction: column; } }

body#checkout #header .header-nav {
  margin-bottom: 30px;
  box-shadow: none;
  padding: 0; }
  body#checkout #header .header-nav .logo {
    max-height: 40px; }
body#checkout #header #_desktop_logo img {
  max-width: 170px;
  height: auto; }
body#checkout #header #search_widget {
  display: flex; }
@media (max-width: 767px) {
  body#checkout #header .header-top {
    display: none; } }
body#checkout #wrapper {
  padding-top: 30px; }
body#checkout #footer {
  padding: 0;
  padding-top: 2.5rem;
  background: #e1e1e1; }
body#checkout section.checkout-step {
  box-shadow: none; }
  @media (max-width: 767px) {
    body#checkout section.checkout-step {
      padding: 15px 0; } }
  body#checkout section.checkout-step .step-title {
    text-transform: none;
    font-weight: 600;
    color: #000000;
    font-size: 30px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    body#checkout section.checkout-step .step-title .done {
      padding: 0 8px;
      margin-right: 12px; }
    body#checkout section.checkout-step .step-title .step-edit {
      margin-top: 10px; }
    body#checkout section.checkout-step .step-title:hover {
      background: #e1e1e1; }
    @media (max-width: 767px) {
      body#checkout section.checkout-step .step-title {
        font-size: 24px; } }
  body#checkout section.checkout-step .nav.my-2 .nav-item a {
    font-size: 14px; }
  body#checkout section.checkout-step .nav.my-2 .nav-item:nth-child(2) {
    margin-left: 0; }
    body#checkout section.checkout-step .nav.my-2 .nav-item:nth-child(2) span {
      display: inline-block;
      margin-top: 7px; }
  body#checkout section.checkout-step .btn.continue {
    font-weight: 600; }
  body#checkout section.checkout-step .custom-radio input[type=radio]:checked + span {
    background: #000000; }
  body#checkout section.checkout-step #delivery-addresses .address-item {
    background: #EEEEEE; }
    body#checkout section.checkout-step #delivery-addresses .address-item .custom-radio {
      margin-top: -10px; }
    body#checkout section.checkout-step #delivery-addresses .address-item.selected {
      background: #e1e1e1;
      border-color: #d5d5d5; }
    body#checkout section.checkout-step #delivery-addresses .address-item .address {
      line-height: 1.5em; }
    @media (max-width: 767px) {
      body#checkout section.checkout-step #delivery-addresses .address-item .radio-block {
        padding: 10px 5px;
        display: flex;
        flex-direction: column; }
        body#checkout section.checkout-step #delivery-addresses .address-item .radio-block .address-alias {
          margin-top: 5px;
          font-size: 18px; }
        body#checkout section.checkout-step #delivery-addresses .address-item .radio-block .address {
          margin-left: 0; }
      body#checkout section.checkout-step #delivery-addresses .address-item .address-footer {
        padding: 5px; } }
  body#checkout section.checkout-step .delivery-options .delivery-option {
    background: #e1e1e1; }
    body#checkout section.checkout-step .delivery-options .delivery-option label {
      margin-bottom: 0; }
    body#checkout section.checkout-step .delivery-options .delivery-option .h6 {
      margin-bottom: 0; }
    body#checkout section.checkout-step .delivery-options .delivery-option .delivery-option-default-logo {
      margin-top: -10px; }
    @media (max-width: 767px) {
      body#checkout section.checkout-step .delivery-options .delivery-option .custom-radio {
        margin-bottom: 10px; } }
body#checkout #checkout-login-form .forgot-password {
  margin-left: 0; }
body#checkout #checkout-login-form .form-footer .btn {
  float: left; }
body#checkout #checkout-payment-step a {
  color: #268BD5; }
body#checkout #checkout-payment-step #order-summary-content .h4 {
  font-size: 20px;
  font-weight: 600; }
body#checkout #checkout-payment-step #order-summary-content .h5 {
  font-size: 18px;
  font-weight: 600; }
body#checkout #checkout-payment-step #order-summary-content .step-edit {
  font-weight: 600;
  font-size: 14px; }
body#checkout #checkout-payment-step #order-summary-content .card {
  color: #706f6f;
  font-size: 14px; }
  body#checkout #checkout-payment-step #order-summary-content .card .card-block {
    background: #EEEEEE; }
body#checkout #checkout-payment-step #order-summary-content .summary-selected-carrier {
  font-size: 14px; }
body#checkout #checkout-payment-step #order-summary-content #order-items .card-title {
  font-size: 20px;
  text-transform: none;
  font-weight: 600; }
body#checkout #checkout-payment-step #order-summary-content #order-items .order-confirmation-table {
  padding: 5px; }
  body#checkout #checkout-payment-step #order-summary-content #order-items .order-confirmation-table .order-line {
    margin-top: 0; }
body#checkout #checkout-payment-step #payment-confirmation .btn {
  font-weight: 600; }
body#checkout #checkout-payment-step .payment-options .additional-information {
  margin: 0; }
  body#checkout #checkout-payment-step .payment-options .additional-information .payment_module {
    display: none; }
body#checkout #checkout-payment-step .payment-options .option-container {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; }
  body#checkout #checkout-payment-step .payment-options .option-container .payment-option label {
    font-weight: bold;
    font-size: 16px; }
body#checkout #checkout-payment-step .payment-options #paypalPayment #ppplusDiv {
  height: auto !important; }
  body#checkout #checkout-payment-step .payment-options #paypalPayment #ppplusDiv iframe {
    height: 470px !important; }
body#checkout #checkout-payment-step .payment-options #paypalPayment #continueButton {
  background: #000000;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  box-shadow: none;
  text-align: center;
  min-width: 180px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  body#checkout #checkout-payment-step .payment-options #paypalPayment #continueButton:hover {
    background: #1a1a1a; }
body#checkout #js-checkout-summary .products-label {
  font-weight: 600;
  color: #000000; }
body#checkout #js-checkout-summary a {
  color: #268BD5; }
body#checkout #js-checkout-summary #cart-summary-product-list .media {
  margin-bottom: 10px; }
body#checkout #js-checkout-summary #cart-summary-product-list .product-name {
  font-weight: 600; }
body#checkout #js-checkout-summary #cart-summary-product-list .product-quantity {
  display: inline-block; }
body#checkout #js-checkout-summary .cart-summary-totals .cart-total .label {
  font-weight: 600;
  color: #000000;
  line-height: 24px; }
body#checkout #js-checkout-summary .cart-summary-totals .cart-total .value {
  font-size: 24px;
  font-weight: 600; }
@media (max-width: 767px) {
  body#checkout #js-checkout-summary {
    margin-top: 15px; } }
body#checkout #footer {
  box-shadow: none; }
  @media (max-width: 767px) {
    body#checkout #footer {
      padding-top: 0; } }

.block-promo .cart-voucher p {
  margin-bottom: 5px; }
.block-promo .cart-voucher .collapse-button {
  margin-bottom: 0; }
.block-promo .cart-voucher .promo-code {
  padding: 10px 1.6rem; }
  .block-promo .cart-voucher .promo-code.in {
    display: block !important; }
  .block-promo .cart-voucher .promo-code form {
    display: flex; }
  .block-promo .cart-voucher .promo-code .btn {
    margin-top: 0; }
.block-promo .cart-voucher .promo-name {
  padding: 10px 1.25rem;
  color: #000000;
  font-weight: 400; }
  .block-promo .cart-voucher .promo-name .cart-summary-line .label {
    color: #000000;
    font-weight: 400; }
  .block-promo .cart-voucher .promo-name .cart-summary-line a {
    color: #000000; }
    .block-promo .cart-voucher .promo-name .cart-summary-line a .material-icons {
      font-size: 20px; }
    .block-promo .cart-voucher .promo-name .cart-summary-line a:hover {
      color: #706f6f; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.ttf");
  src: url("../fonts/fontawesome-webfont.woff");
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/FontAwesome.otf"); }
body {
  font-family: "OpenSans", "Open Sans", sans-serif; }

a {
  color: #ED3237; }
  a:hover {
    text-decoration: underline; }

@media (max-width: 767px) {
  #header {
    background: #FFFFFF; } }
#header .header-nav {
  font-size: 14px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-bottom: none; }
  #header .header-nav .row > div {
    width: 100%; }
  #header .header-nav .material-icons {
    line-height: 1em; }
  #header .header-nav a {
    display: block;
    padding: 5px 10px; }
  #header .header-nav #contact-link {
    margin-top: 0; }
  #header .header-nav #_mobile_logo {
    width: 240px; }
    #header .header-nav #_mobile_logo img {
      margin-top: 5px;
      margin-bottom: 5px;
      max-height: 40px; }
  @media (max-width: 767px) {
    #header .header-nav {
      height: 50px; } }
  @media (max-width: 575px) {
    #header .header-nav {
      height: auto;
      max-height: none; }
      #header .header-nav #_mobile_logo {
        width: 100%;
        clear: both;
        text-align: center; }
        #header .header-nav #_mobile_logo img {
          max-height: 60px; } }
#header .header-top {
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    #header .header-top .row > div {
      align-self: center; } }
  @media (max-width: 767px) {
    #header .header-top .row {
      flex-direction: column; } }
  #header .header-top .block-contact {
    display: none; }
  @media (max-width: 767px) {
    #header .header-top {
      background: #FFFFFF; } }
#header a {
  color: #706f6f; }
  #header a:hover {
    color: #ED3237; }
#header .nav-full-width {
  background: #222063; }

#index #wrapper {
  padding-top: 0; }

#wrapper {
  box-shadow: none;
  background: #FFFFFF; }
  @media (min-width: 1280px) {
    #wrapper > .container {
      padding: 0; } }
  #wrapper .breadcrumb {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px; }
    #wrapper .breadcrumb li {
      font-size: 14px; }
      #wrapper .breadcrumb li:last-child:after {
        display: none; }

#cms #content h1, #cms #content h2, #cms #content h3, #cms #content h4, #cms #content h5, #cms #content h6 {
  font-weight: 600;
  color: #000000 !important;
  line-height: 1.2em; }
#cms #content img {
  max-width: 100%;
  height: auto; }

.page-addresses .address,
.page-authentication #content {
  box-shadow: none; }

#custom-text h1, #custom-text h2, #custom-text h3, #custom-text h4, #custom-text h5, #custom-text h6 {
  color: #000000; }
#custom-text p {
  font-size: 16px;
  color: #706f6f; }

#homecategoriez {
  padding-top: 30px; }
  #homecategoriez .section-title {
    font-size: 32px;
    text-transform: none;
    color: #000000; }
  #homecategoriez .category {
    margin-bottom: 30px; }
    #homecategoriez .category img {
      border: none; }
    #homecategoriez .category .category-title a {
      color: #000000; }

#htmlcontent_home {
  padding-bottom: 30px; }
  #htmlcontent_home .item {
    padding-bottom: 30px; }

#footer {
  background: #e1e1e1; }
  #footer .contact-top {
    display: none; }
  #footer .row {
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      #footer .row {
        flex-direction: column; } }
  #footer .footer-container {
    box-shadow: none;
    background: #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px; }
    #footer .footer-container .links li a {
      color: #706f6f; }
      #footer .footer-container .links li a:hover {
        color: #ED3237; }
  #footer h3,
  #footer .myaccount-title,
  #footer .title,
  #footer .title .h3 {
    font-size: 16px;
    color: #222063;
    text-transform: none; }
    #footer h3 a,
    #footer .myaccount-title a,
    #footer .title a,
    #footer .title .h3 a {
      font-size: 1em;
      color: #222063; }
  @media (max-width: 768px) {
    #footer .block-contact {
      padding: 15px !important;
      padding-right: 15px !important;
      padding-left: 15px !important; } }
  #footer .footer-bottom {
    padding: 30px 0;
    border-top: 1px solid #e1e1e1;
    background: #EEEEEE; }
    #footer .footer-bottom .seal p {
      font-size: 12px;
      color: #706f6f; }
    @media (max-width: 767px) {
      #footer .footer-bottom .seal {
        flex-direction: row;
        flex-wrap: wrap; }
        #footer .footer-bottom .seal > div {
          margin-bottom: 20px; }
        #footer .footer-bottom .seal .security,
        #footer .footer-bottom .seal .tech {
          flex: 0 0 50%; } }
    #footer .footer-bottom .copy {
      font-size: 12px;
      text-align: right; }
      #footer .footer-bottom .copy span {
        display: block; }
    @media (max-width: 991px) {
      #footer .footer-bottom .copy {
        text-align: left;
        margin-top: 30px; } }

@media (max-width: 767px) {
  #custom-text {
    padding: 20px 15px; } }

.product-price {
  color: #ED3237; }

a:not(.btn):hover {
  color: #ED3237; }

.row {
  display: flex; }
  @media (max-width: 767px) {
    .row {
      flex-direction: column; } }
  @media (max-width: 767px) {
    .row.cart-grid {
      flex-direction: column; } }

.form-control {
  font-size: 14px; }
  .form-control:focus {
    outline-color: #ED3237; }

.input-group .input-group-btn > .btn {
  color: #706f6f; }
.input-group .input-group-btn > .btn[data-action="show-password"] {
  color: #EEEEEE; }

.radio-label {
  box-shadow: none;
  border: 2px solid #e1e1e1; }

.btn {
  text-transform: none;
  border-radius: 3px; }
  .btn.btn-primary {
    background: #ED3237; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #f16165; }
  .btn.btn-secondary {
    background: #222063;
    color: #FFFFFF; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus {
      background: #2f2c8a; }
  .btn.btn-cta {
    background: #3AC14A;
    color: #FFFFFF;
    font-weight: 600; }
    .btn.btn-cta:hover, .btn.btn-cta:focus {
      background: #5fcf6c; }
  .btn.btn-default {
    background: #d5d5d5;
    color: #706f6f; }
    .btn.btn-default:hover, .btn.btn-default:focus {
      background: #c8c8c8; }
  .btn.add-to-cart {
    background: #3AC14A;
    text-align: center;
    border-radius: 6px;
    width: 100%; }
    .btn.add-to-cart .caption {
      display: inline-block;
      text-align: left; }
      .btn.add-to-cart .caption strong {
        display: block;
        font-size: 16px;
        line-height: 1em;
        margin-bottom: 3px;
        position: relative;
        top: -10px; }
        @media (max-width: 768px) {
          .btn.add-to-cart .caption strong span {
            display: none; } }
      .btn.add-to-cart .caption > span {
        display: block;
        font-weight: 400;
        font-size: 11px;
        line-height: 1em; }
    .btn.add-to-cart .icon-bag {
      display: inline-block;
      width: 20px;
      height: 30px;
      margin-right: 10px;
      background: url("../img/icon-shop-bag-white.svg") center center no-repeat;
      background-size: contain; }
    .btn.add-to-cart:hover, .btn.add-to-cart:focus {
      background: #2e9a3b; }
    @media (max-width: 991px) {
      .btn.add-to-cart {
        padding: 10px; } }
    @media (max-width: 768px) {
      .btn.add-to-cart {
        padding: 5px 10px; } }
  .btn.add-to-cart.loading {
    position: relative;
    background: black;
    cursor: no-drop; }
    .btn.add-to-cart.loading:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("../img/addtocart_loader.gif") center center no-repeat;
      background-size: 30px auto; }
    .btn.add-to-cart.loading:hover {
      background: black !important; }
  @media (max-width: 767px) {
    .btn {
      font-size: 12px;
      line-height: 12px; } }

#cart .btn-cta,
#checkout .btn-cta {
  font-size: 14px;
  line-height: 14px;
  padding: 10px; }

.pagination > div {
  font-size: 14px; }
  .pagination > div:first-child {
    line-height: 1.5em; }
  @media (max-width: 767px) {
    .pagination > div {
      font-size: 12px; } }
.pagination .page-list {
  padding: 0; }
  .pagination .page-list .material-icons {
    font-size: 20px; }
.pagination a {
  color: #706f6f;
  display: inline-block;
  padding: 5px; }
.pagination a:not(.previous):not(.next) {
  display: inline-block;
  padding: 5px; }
.pagination .current a {
  font-size: 14px;
  color: #ED3237; }

@media (max-width: 767px) {
  .sort-by-row {
    flex-direction: row; } }

.products-sort-order .select-title {
  padding-right: 30px;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  box-shadow: none; }
  .products-sort-order .select-title .material-icons {
    position: absolute;
    right: 3px;
    top: calc(50% - 12px); }
.products-sort-order .dropdown-menu {
  background: #FFFFFF; }
  .products-sort-order .dropdown-menu .select-list {
    color: #000000;
    font-size: 14px;
    line-height: 14px; }
    .products-sort-order .dropdown-menu .select-list:hover {
      background: #e1e1e1;
      color: #000000; }

.contact-rich {
  color: #706f6f; }
  .contact-rich .block {
    font-size: 14px; }
    .contact-rich .block a {
      font-size: 14px; }
    .contact-rich .block .icon {
      width: 30px; }
      .contact-rich .block .icon .material-icons {
        font-size: 20px; }

.card {
  box-shadow: none; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.form-control {
  border-radius: 3px;
  border: 1px solid #EEEEEE; }
  .form-control:focus {
    outline-color: #222063; }

/*# sourceMappingURL=global.css.map */
