@import "compass/css3";
@import "theme_variables";

#homeslider.carousel{
	margin-bottom: 3rem;
	box-shadow: none;
	.carousel-inner{
		height: auto;
		.carousel-item{
			figure{
				margin-bottom: 0;
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

	.owl-carousel{
		overflow: visible;
		.owl-dots{
			position: absolute;
		    left: 50%;
		    bottom: -30px;
		    border-radius: 4px;
		    text-align: center;
		    padding: 5px 5px;
		    height: 26px;
		    @include transform(translateX(-50%));
		    .owl-dot{
		    	display: inline-block;
		    	margin: 0 5px;
		    	span{
		    		display: block;
		    		width: 16px;
		    		height: 16px;
		    		border-radius: 100%;
		    		background: #ccc;
		    	}
		    	&.active,
		    	&:focus{
		    		outline: none;
		    		box-shadow: none;
		    		span{
		    			background: $secondary-color;
		    		}
		    	}
		    }
		    
		}
		.owl-nav{
			display: none;
	    	button{
	    		width: 30px;
	    		height: 30px;
	    		background: rgba($black, .7);
	    		color: $white;
	    		position: absolute;
	    		top: calc(50% - 15px);
	    		text-align: center;
	    		padding-top: 6px;
	    		&:before{
	    			content: "";
	    			display: block;
	    			font-family: $font-icon;
	    			font-size: 18px;
	    		}
	    		&:hover{
	    			background: $black;
	    		}
	    	}
	    	.owl-prev{
	    		left: 0;
	    		&:before{
	    			content: "\f104";
	    		}
	    	}
	    	.owl-next{
	    		right: 0;
	    		&:before{
	    			content: "\f105";
	    		}
	    	}
	    }
	}
}