@import "theme_variables";

#search_widget{
	display: flex;
	.desc{
		flex: 0 0 200px;
		padding-right: 15px;
		align-self: center;
		span,
		strong{
			display: block;
			color: $secondary-color;
			font-size: 12px;
			line-height: 14px;
			text-align: right;
		}
	}
	form{
		flex: 0 0 calc(100% - 200px);
		align-self: center;
		@media (max-width: $xl - 1){
			flex: 0 0 100%;
		}
		input[type="text"]{
			font-size: 12px;
			border-radius: 3px;
			border-color: $light-gray;
			box-shadow: 0 2px 5px rgba($black, .06);
			&:focus{
				outline-color: rgba($black, .2);
				& + button .material-icons{
					
				}
			}
		}
		button{
			bottom: 0;
			top: 0;
			right: 0;
			color: $white;
			background: $primary-color;
			border: 1px solid $dark-primary;
			@include transition(all 0.2s ease);
			border-radius: 3px;
			font-weight: 500;
			font-size: 16px;
			&:hover{
				cursor: pointer;
				background: $dark-primary;
				.material-icons{
					color: $white;
				}
			}	
		}
	}
}

#content.page-not-found{
	#search_widget {
		width: 100%;
		form{
			width: 100%;
			flex: 0 0 100%;
		}
		.desc{
			display: none;
		}
	}
}