@import "compass/css3";
@import "theme_variables";

#authentication{
	#wrapper{
		.page-header{
			h1{
				text-align: center;
				font-size: 36px;
				font-weight: 600;
				color: $black;
				padding-top: 20px;
				margin-top: 0;
			}
		}
	}
	#content{
		.forgot-password{
			a{
				color: $gray;
			}
		}
		.no-account{
			a{
				color: $black;
				@media (max-width: $md - 1){
					font-size: 12px;
				}
			}
		}
	}
	
}