@import "compass/css3";
@import "theme_variables";

.block-category{
	min-height: 0;
	padding: 15px;
	.h1{
		color: $secondary-color;
		font-size: 36px;
		text-transform: none;
	}
	#category-description{
		color: $gray;
		font-size: 16px;
		line-height: 1.5em;
		*{
			font-size: 16px !important;
			line-height: 1.5em;
		}
	}
}

.products-selection{
	.total-products{
		font-size: 14px;
	}
	.sort-by-row{
		.sort-by{
			line-height: 14px;
			font-size: 14px;
		}
	}
	.filter-button{
		padding-left: 15px;
	}

	@media (max-width: $md - 1){
		flex-direction: column;
		.showing{
			font-size: 12px;
		}
	}
}

#search_filter_toggler{
	@media (max-width: $md - 1){
		font-size: 12px;
		line-height: 12px;
	}
}