@import "compass/css3";
@import "theme_variables";

#cart{
	#wrapper{
		padding-top: 30px;
		h1{
			font-weight: 600;
			text-transform: none;
			font-size: 36px;
			@media (max-width: $md - 1){
				font-size: 24px;
			}
		}
	}
	.cart-summary{
		.checkout{
			.btn-primary{
				font-weight: 600;
			}
		}
	}
	.cart-items{
		.cart-item{
			.product-line-info{
				font-size: 14px;
				line-height: 14px;
				margin-bottom: 10px;
				.label{
					font-size: 14px;
					line-height: 14px;
				}
			}
			.product-price{
				// margin-bottom: 0;
				font-size: 14px;
				line-height: 14px;
				color: $primary-color;
			}
			.discount{
				background: $secondary-color;
				font-size: 12px;
				line-height: 12px;
			}
			.qty{
				@media (max-width: $md - 1){
					margin-bottom: 10px;
				}
			}
			.product-line-actions{
				.remove-from-cart{
					&:hover{
						.material-icons{
							
						}
					}
				}
				@media (max-width: $md - 1){
					div .row{
						flex-direction: column;
					}
				}
			}
		}
	}
}

body#checkout{
	#header{
		.header-nav{
			margin-bottom: 30px;
			// max-height: 50px;
			box-shadow: none;
			padding: 0;
			// border-bottom: 2px solid #f1f1f1;
			.logo{
				max-height: 40px;
			}
		}
		#_desktop_logo{
			img{
				max-width: 170px;
				height: auto;
			}
		}
		#search_widget{
			display: flex;
		}
		.header-top{
			@media (max-width: $md - 1){
				display: none;
			}
		}
	}
	#wrapper{
		padding-top: 30px;
		
	}
	#footer{
		padding: 0;
		padding-top: 2.5rem;
		background: darken($light-gray, 5%);
		.footer-container{
			// border-top: 1px solid #e5e5e5;
		}
	}

	section.checkout-step{
		box-shadow: none;
		@media (max-width: $md - 1){
			padding: 15px 0;
		}
		.step-title{
			text-transform: none;
			font-weight: 600;
			color: $black;
			font-size: 30px;
			@include transition(all 0.2s ease-out);
			.done{
				padding: 0 8px;
				margin-right: 12px;
			}
			.step-edit{
				margin-top: 10px;
			}
			&:hover{
				background: darken($light-gray, 5%);
			}
			@media (max-width: $md - 1){
				font-size: 24px;
			}
		}
		.nav.my-2{
			.nav-item{
				a{
					font-size: 14px;
				}
				&:nth-child(2){
					margin-left: 0;
					span{
						display: inline-block;
						margin-top: 7px;
					}
				}
			}
		}
		.btn.continue{
			font-weight: 600;
		}
		.custom-radio{
			input[type=radio]:checked + span{
				background: $black;
			}
		}
		
		#delivery-addresses{
			.address-item{
				background: $light-gray;
				.custom-radio{
					margin-top: -10px;
				}
				&.selected{
					background: darken($light-gray, 5%);
					border-color: darken($light-gray, 10%);
				}
				.address{
					line-height: 1.5em;
				}
				@media (max-width: $md - 1){
					.radio-block{
						padding: 10px 5px;
						display: flex;
						flex-direction: column;
						.address-alias{
							margin-top: 5px;
							font-size: 18px;
						}
						.address{
							margin-left: 0;
						}
					}
					.address-footer{
						padding: 5px;
					}
				}
			}
		}
		.delivery-options{
			.delivery-option{
				background: darken($light-gray, 5%);
				label{
					margin-bottom: 0;
				}
				.h6{
					margin-bottom: 0;
				}
				.delivery-option-default-logo{
					margin-top: -10px;
				}
				.custom-radio{
					@media (max-width: $md - 1){
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	#checkout-login-form{
		.forgot-password{
			margin-left: 0;
		}
		.form-footer{
			.btn{
				float: left;
			}
		}
	}
	#checkout-payment-step{
		a{
			color: $tertiary-color;
		}
		#order-summary-content{
			.h4{
				font-size: 20px;
				font-weight: 600;
			}
			.h5{
				font-size: 18px;
				font-weight: 600;
			}
			.step-edit{
				font-weight: 600;
				font-size: 14px;
			}
			.card{
				color: $gray;
				font-size: 14px;
				.card-block{
					background: $light-gray;
				}
			}
			.summary-selected-carrier{
				font-size: 14px;
			}
			#order-items{
				.card-title{
					font-size: 20px;
					text-transform: none;
					font-weight: 600;
				}
				.order-confirmation-table{
					padding: 5px;
					.order-line{
						margin-top: 0;
					}
				}
			}
		}
		#payment-confirmation{
			// display: none !important;
			.btn{
				font-weight: 600;
			}
		}
		.payment-options{
			.additional-information{
				margin: 0;
				.payment_module{
					display: none;
				}
			}
			.option-container{
				border: 1px solid #CCC;
				padding: 10px;
				border-radius: 5px;
				margin-bottom: 20px;
				.payment-option label{
					font-weight: bold;
					font-size: 16px;
				}
			}
			#paypalPayment{
				#ppplusDiv{
					height: auto !important;
					
					iframe{
						height: 470px !important;
					}
				}
				#continueButton{
					background: $black;
					border-radius: 0;
					color: $white;
					font-size: 16px;
					line-height: 16px;
					padding: 10px;
					text-transform: uppercase;
					font-weight: 600;
					border: none;
					box-shadow: none;
					text-align: center;
					min-width: 180px;
					@include transition(all 0.2s ease-out);
					&:hover{
						background: lighten($black, 10%);
					}
				}
			}
		}
	}
	#js-checkout-summary{
		.products-label{
			font-weight: 600;
			color: $black;
		}
		a{
			color: $tertiary-color;
		}
		#cart-summary-product-list{

			.media{
				margin-bottom: 10px;
			}
			.product-name{
				font-weight: 600;
			}
			.product-quantity{
				display: inline-block; 
			}
		}
		.cart-summary-totals{
			.cart-total{
				.label{
					font-weight: 600;
					color: $black;
					line-height: 24px;
				}
				.value{
					font-size: 24px;
					font-weight: 600;
				}
			}
		}
		@media (max-width: $md - 1){
			margin-top: 15px;
		}
	}
	#footer{
		box-shadow: none;
		@media (max-width: $md - 1){
			padding-top: 0;
		}
	}
}

.block-promo{
	.cart-voucher{
		p{
			margin-bottom: 5px;
		}
		.collapse-button{
			margin-bottom: 0;
		}
		.promo-code{
			padding: 10px 1.6rem;
			&.in{
				display: block !important;
			}
			form{
				display: flex;
			}
			.btn{
				margin-top: 0;
			}
		}
		.promo-name{
			padding: 10px 1.25rem;
			color: $black;
			font-weight: 400;
			.cart-summary-line{
				.label{
					color: $black;
					font-weight: 400;
				}
				a{
					color: $black;
					.material-icons{
						font-size: 20px;
					}
					&:hover{
						color: $gray; 
					}
				}
			}
		}
	}
}

