@import "compass/css3";
@import "theme_variables";

#wrapper{
	.page-header{
		h1{
			text-align: left;
			font-size: 36px;
			font-weight: 600;
			color: $black;
			padding-top: 20px;
			margin-top: 0;
		}
	}
	.page-footer{
		a{
			color: $black;
		}
	}
}

#content{
	#login-form,
	#customer-form,
	.address-form{
		.form-group{
			flex-direction: column;
			align-items: center;
			margin-bottom: 15px;
			.form-control-label{
				text-align: left;
				font-size: 16px;
				color: $black;
				padding-top: 0;
				margin-bottom: 0;
			}
			.form-control-label,
			> div{
				width: 100%;
				max-width: 400px;
			}
			.input-group{
				.input-group-btn > .btn[data-action=show-password]{
					height: 38px;
				}
			}
			.form-control-comment{
				padding-top: 0;
			}
		}
		.form-footer{
			.btn{
				width: 180px;
			}
		}
	}
	#customer-form,
	.address-form{
		.form-group{
			align-items: flex-start;
		}
		.form-footer{
			.btn{
				float: left !important;
			}
		}
	}
	.register-form{
		> p{
			a{
				
			}
		}
	}
}

.page-addresses{
	#content{
		.address{
			a{
				text-decoration: none;
			}
		}
	}
}

.order-message-form{
	.form-fields{
		.form-group{
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 15px;
			.form-control-label{
				text-align: left;
				font-size: 16px;
				color: $black;
				padding-top: 0;
				margin-bottom: 0;
			}
			.form-control-label,
			> div{
				// width: 100%;
				// max-width: 400px;
			}
		}
	}
	.form-footer{
		text-align: left !important;
		.btn{
			width: 180px;
		}
	}
}

#history{
	.order-actions{
		a{
			display: inline-block;
			color: $tertiary-color;
		}
	}
}

#order-infos{
	.boleto{
		// padding-top: 5px;
		.badge{
			font-size: 16px;
		}
	}
}

#order-detail .new-order{
	text-align: center;
	margin-bottom: 30px;
	.img{
		margin-bottom: 10px;
	}
	strong{
		display: block;
		font-size: 24px;
		color: $black;
		margin-bottom: 5px;
	}
	span{
		display: block;
		font-size: 18px;
		color: $black;
	}
}