
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.ttf');
    src: url('../fonts/FontAwesome/fontawesome-webfont.woff');
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome/FontAwesome.otf');
}