@import "compass/css3";
@import "theme_variables";

#my-account{
	.links{
		> a{
			text-decoration: none;
			&:hover{
				.icon{
					color: $black;
				}
				.material-icons{
					color: $secondary-color !important;
				}
			}
		}
	}
	
}