@import "compass/css3";
@import "theme_variables";

#product{
	#main {
		@media (max-width: $md - 1){
			> .row{
				flex-direction: column;
			}
		}
	}
	.product-infos{
		padding: 0;
		@media (min-width: $md){
			background: $white;
			box-shadow: 0 3px 10px rgba(black, .06);
			border-radius: 10px;
			border: 1px solid $light-gray;
			padding: 20px;
		}
		
		.product-name{
			text-transform: none;
			color: $secondary-color;
			font-size: 32px;
		}
	}
	.product-flags{
		.discount-product,
		.product-flag.new{
			
		}
		.product-flag.new{
			background: $secondary-color;
			border-radius: 3px;
		}
		.discount-product.discount-percentage{
			background: $primary-color;
			border-radius: 3px;
		}
	}
	.images-container{
		.product-cover{
			img{
				box-shadow: none;
			}
		}
		.product-images{
			>li.thumb-container{
				>.thumb{
					box-shadow: none;
				}
				>.thumb.selected,
				>.thumb:hover{
					border-color: $secondary-color;
				}
			}
		}
	}
	.short-description{
		font-size: 16px;
		line-height: 1.5em;
		color: $gray;
	}
	.product-prices{
		margin: 15px 0;
		div{
			margin-bottom: 0;
		}
		.regular-price{
			font-size: 16px;
			line-height: 1em;
			.from{
				color: $black;
			}
			.regular-price{
				color: $gray;
				opacity: .6;
			}
		}
		.current-price{
			font-size: 16px;
			line-height: 1em;
			.for-only{
				color: $black;
			}
			.price{
				font-size: 22px;
				line-height: 22px;
				color: $primary-color;
			}
		}
		.split-price{
			font-size: 14px;
			line-height: 14px;
			color: $primary-color;
			margin-bottom: 10px;
		}
		.has-discount.product-price{
			color: $primary-color;
		}
		.has-discount{
			.discount{
				background: $secondary-color;
				font-weight: 400;
			    padding: 5px 5px 2px;
			    font-size: 12px;
			    line-height: 12px;
			    position: relative;
			    top: -5px;
			    margin-left: 5px;
			    display: none;
			}
		}
	}
	.product-variants{
		> .product-variants-item{
			select{
				box-shadow: none;
				border-radius: 3px;
			}
		}
	}
	.product-quantity{
		flex-direction: column;
		margin-bottom: 10px;
		.qty{
			.bootstrap-touchspin{
				box-shadow: none;
				border-radius: 2px;
				
			}
			.bootstrap-touchspin-up{
				border-radius: 0 3px 0 0;
				border: 1px solid $light-gray;

			}
			.bootstrap-touchspin-up{
				border-radius: 0 0 3px 0;
				border: 1px solid $light-gray;
			}
			#quantity_wanted{
				border: 1px solid $light-gray;
			}
		}
	}
	.add{
		.btn{
			height: auto;
			.icon-bag{
				width: 30px;
				@media (max-width: $md - 1){
					width: 20px;
				}
			}
			strong{
				font-size: 20px;
				top: 0; 
			}
			span{
				font-size: 12px;
			}
		}
	}
	.frete{
		text-align: left;
		color: $black;
		font-size: 14px;
		padding-top: 10px;
	}
	.correios-content{
		margin-bottom: 0;
		clear: both;
		.title{
			color: $black;
		}
		label{
			display: block;
			font-size: 12px;
			margin-bottom: 2px;
			text-align: left;
		}
		.group{
			display: inline-block;
			position: relative;
		}
		#sCepDestino{
			width: 250px;
			background: $light-gray;
			height: 45px;
			float: left;
			border: none;
			border-radius: 0;
		}
		.btn{
			font-size: 15px;
			height: 35px;
			padding: 4px 10px;
			background: $light-gray;
			font-weight: 600;
			color: $black;
			position: absolute;
			text-transform: uppercase;
			top: 5px;
			right: 5px;
			border: 1px solid darken($light-gray, 10%);
			&:hover{
				background: darken($light-gray, 10%);
			}
		}
		.correios_calculos{
			margin-top: 10px;
			margin-bottom: 0;
			padding: 0 0 10px;
			position: relative;
			&.loading{
				&:before{
					content: "";
					display: block;
					position: absolute;
					top: -10px;
					left: 0;
					width: 200px;
					height: 30px;
					background: url('../img/addtocart_loader.gif') center center no-repeat;
					background-size: 20px;
					z-index: 4;
				}
			}
			li{
			    border-bottom: 1px solid darken($light-gray, 20%);
			    padding: 7px 5px;
			    background: $light-gray;
			    max-width: 270px;
			    display: flex;
			    &:first-child{
			    	border-radius: 4px 4px 0 0;
			    	&:after{
						content: "";
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 15px 0 0 15px;
						border-color: transparent transparent transparent $light-gray;
						position: absolute;
						top: -15px;
						left: 15px;
					}
			    }
			    &:last-child{
			    	margin-bottom: 0;
			    	border-bottom: none;
			    	border-radius: 0 0 4px 4px;
			    }
			    .service-name{
			    	flex: 0 0 70%;
			    }
			    > .service-value{
			    	float: right;
			    }
			    .service-value{
			    	color: $black;
			    	font-weight: bold;
			    	padding-left: 10px;
			    	flex: 0 0 30%;
			    	&.free{
			    		font-size: 12px;
			    	}
			    }
			    .values{
			    	flex: 0 0 30%;
			    	text-align: right;
			    	align-self: flex-end;
			    	span, b{
			    		display: block;
			    		float: none;
			    	}
			    	.old-value{
			    		text-decoration: line-through;
			    		font-size: 12px;
			    		line-height: 12px;
			    	}
			    }
			}
		}
	}
	.social-sharing{
		li{
			border: 2px solid darken($light-gray, 5%);
			background-position: .20rem .20rem;
			box-shadow: none;
		} 
		@media (max-width: $md - 1){
			flex-direction: column;
			text-align: left;
			align-items: flex-start;
			span{
				display: block;
				margin-bottom: 5px; 
			}
			li{
				margin-left: 0;
				margin: 10px;
			}
		}
	}
}

.product-colors{
	// width: 100%;
	clear: both;

	.box{
		padding: 15px;
		.title{
			font-size: 20px;
			color: $secondary-color;
			padding: 0 15px;
			margin-bottom: 20px;
		}
		.row{
			flex-wrap: wrap;
			@media (max-width: $md){
				flex-direction: row;
			}
			.color-item{
				padding-bottom: 30px;
				.color-box{
					border: 1px solid $light-gray;
					border-radius: 4px;
					box-shadow: 0 3px 6px rgba(black, .06);
				}
				.img{
					margin-bottom: 10px;
					padding: 5px;
					text-align: center;
				}
				.color-name{
					text-transform: uppercase;
					font-size: 14px;
					display: block;
					text-align: center;
					margin-bottom: 5px;
					color: $gray;
					opacity: .6;
				}
				.qty{
					width: 100%;
					display: flex;
					background: $light-gray;
					padding: 5px;
					justify-content: center;
					input[type="text"]{
						border-radius: 3px;
						border: 1px solid darken($light-gray, 5%);
						height: 30px;
						width: 80px;
						font-size: 14px;
						text-align: center;
						align-self: center;
					}
					.btn{
						color: $gray;
						height: 30px;
						padding: 5px 10px;
						font-size: 18px;
						line-height: 1em;
						align-self: center;
						&:hover{
							color: $tertiary-color;
						}
					}
				}
				.color-price{
					text-align: center;
					margin-top: 10px;
					margin-bottom: 10px;
					.price{
						color: $primary-color;
					}
				}
			}
		}
	}
}

.product-tabs-section{
	.tabs{
		padding: 15px;
		box-shadow: none;
		.nav-tabs{
			.nav-item{
				.nav-link{
					color: $gray;
					&:hover,
					&.active{
						color: $primary-color;
						border-color: $primary-color;
					}
					@media (max-width: $md - 1){
						font-size: 12px;
						line-height: 12px;
						padding: 6px;
					}
				}
			}
		}
	}
	.product-description{
		p{
			font-size: 16px;
			line-height: 1.5em;
			color: $gray;
		}
	}
}

.full-description{
	clear: both;
	width: 100%;
	padding: 30px 0;
	.title{
		font-size: 20px;
		color: $secondary-color;
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.product-description{
		p{
			font-size: 16px;
			line-height: 1.5em;
			color: $gray;
		}
	}
}

#product-acessories{
	
}

.category-products{
	clear: both;
	.title{
		font-size: 20px;
		color: $secondary-color;
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.owl-carousel{
		overflow: visible;
		.owl-dots{
			position: absolute;
		    left: 50%;
		    bottom: -30px;
		    border-radius: 4px;
		    text-align: center;
		    padding: 5px 5px;
		    height: 26px;
		    @include transform(translateX(-50%));
		    .owl-dot{
		    	display: inline-block;
		    	margin: 0 5px;
		    	span{
		    		display: block;
		    		width: 16px;
		    		height: 16px;
		    		border-radius: 100%;
		    		background: #ccc;
		    	}
		    	&.active,
		    	&:focus{
		    		outline: none;
		    		box-shadow: none;
		    		span{
		    			background: $secondary-color;
		    		}
		    	}
		    }
		    
		}
		.owl-nav{
			display: none;
	    	button{
	    		width: 30px;
	    		height: 30px;
	    		background: rgba($black, .7);
	    		color: $white;
	    		position: absolute;
	    		top: calc(50% - 15px);
	    		text-align: center;
	    		padding-top: 6px;
	    		&:before{
	    			content: "";
	    			display: block;
	    			font-family: $font-icon;
	    			font-size: 18px;
	    		}
	    		&:hover{
	    			background: $black;
	    		}
	    	}
	    	.owl-prev{
	    		left: 0;
	    		&:before{
	    			content: "\f104";
	    		}
	    	}
	    	.owl-next{
	    		right: 0;
	    		&:before{
	    			content: "\f105";
	    		}
	    	}
	    }
	}
}