@import "compass/css3";
@import "theme_variables";

#products .products, 
.featured-products .products, 
.product-accessories .products, 
.category-products .products, 
.product-miniature .products{
	@media (max-width: $md){
    	flex-direction: row;
    }
	.product-miniature{
		display: flex;
		flex: 0 0 33.333333333%;
		width: 33.333333333%;
		margin: 0;
		margin-bottom: 30px;
	    padding: 0 .625rem;
	    @media (max-width: $xl - 1){
	    	flex: 0 0 33.333333333%;
	    	width: 33.333333333%;
	    }
	    @media (max-width: $lg - 1){
	    	flex: 0 0 50%;
	    	width: 50%;
	    }
	    @media (max-width: $sm - 1){
	    	flex: 0 0 100%;
	    	width: 100%;
	    }
		.thumbnail-container{
			width: 100%;
			height: auto;
			box-shadow: none;
			padding: 10px;
			border: 1px solid transparent;
			border-radius: 10px;
			position: relative;
			@include transition(all 0.2s ease);
			&:hover{
				box-shadow: 0 3px 13px rgba(black, .06);
				border-color: $light-gray; 
				.button-container{
					opacity: 1;
				}
			}
		}
		.thumbnail{
			display: block;
			padding: 0;
			margin-bottom: 10px;
			img{
				margin-left: 0;
				width: 100%;
				height: auto;
			}
		}
		.product-description{
			width: 100%;
			height: auto;
			position: unset;
			padding-bottom: 10px;
			box-shadow: none;
			&:after{
				display: none !important;
			}
		}

		.product_manufacturer{
			font-size: 12px;
			font-weight: 600;
			color: $gray; 
			opacity: .6;
		}

		.product-title{
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 16px;
			text-align: left;
			font-weight: 400px;
			color: $black;
			a{
				font-size: 1em;
				color: $black;
			}
		}

		.product-variants{

		}
		
		.product-bottom{
			
		}

		.product-price-and-shipping{
			text-align: left;
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
			min-height: 50px;
			.regular{
				font-size: 12px;
				line-height: 1em;
				.from{
					color: $black;
				}
				.regular-price{
					color: $gray;
					opacity: .6;
				}
			}
			.current{
				font-size: 12px;
				line-height: 1em;
				.for-only{
					color: $black;
				}
				.price{
					color: $primary-color;
					font-size: 18px;
				}
			}
		}
		.button-container{
			opacity: 0;
			@include transition(all 0.2s ease);
			@media (max-width: $xl - 1){
				opacity: 1;
			}
		}

		.product-flags{
			right: 0;
			left: 0;
		}

		.product-flag{
			font-size: 12px;
			line-height: 12px;
			min-height: 20px;
			border-radius: 4px;
			box-shadow: 0 3px 6px rgba(black, .06);
			margin-top: 0;
			&.new{
				background: $secondary-color;
				top: 10px !important;
				right: 10px;
				left: auto;
			}
			@media (max-width: $md - 1){
				
			}
		}

		.discount-product.discount-amount,
		.discount-product.discount-percentage{
			background: $primary-color;
			font-size: 12px;
			line-height: 12px;
			min-height: 20px;
			border-radius: 4px;
			box-shadow: 0 3px 6px rgba(black, .06);
			top: 10px !important;
			left: 10px;
			@media (max-width: $md - 1){
				
			}
		}

		.highlighted-informations{
			display: none;
		}

		&:hover{
			
		}
	}
}

.featured-products img{
	margin-left: 0;
}

.featured-products .products{
	.product-miniature{
		@media (min-width: $xl){
			flex: 0 0 33.333333333%;
			width: 33.333333333%;
		}
		@media (max-width: $xl - 1){
	    	flex: 0 0 33.333333333%;
	    	width: 33.333333333%;
	    }
	    @media (max-width: $md - 1){
	    	flex: 0 0 50%;
	    	width: 50%;
	    }
	    @media (max-width: $sm - 1){
	    	flex: 0 0 100%;
	    	width: 100%;
	    }
	}
}

.category-products .products{
	.product-miniature{
		flex: 0 0 100%;
	    width: 100%;
	}
}

#products .up{
	.btn-secondary{
		color: $white;
	}
	@media (max-width: $md - 1){
		font-size: 12px;
		line-height: 12px;
		min-height: 20px;
	}
}