//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//fonts
$font-icon: "FontAwesome";
$main-font: "OpenSans", "Open Sans", sans-serif;

//colors
$white: #FFFFFF;
$light-gray: #EEEEEE;
$gray: #706f6f;
$black: #000000;

$primary-color: #ED3237; //vermelho
$dark-primary: #CC2D31;

$secondary-color: #222063; //azul marinho
$dark-secondary: #19184A;

$tertiary-color: #268BD5; //azul claro

$cta-color: #3AC14A; //verde
