@import "compass/css3";
@import "import-styles";

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');
    src: url('../fonts/fontawesome-webfont.woff');
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome.otf');
}

body{
	font-family: $main-font;
}

a{
	color: $primary-color;
	&:hover{
		text-decoration: underline;
	}
}

#header{
	@media (max-width: $md - 1){
		background: $white;
	}
	.header-banner{
		
	}
	.header-nav{
		font-size: 14px;
		margin-bottom: 20px;
		background: $white;
		border-bottom: none;

		.row{
			> div{
				width: 100%;
			}
		}	
		.material-icons{
			line-height: 1em;
		}	
		a{
			display: block;
			padding: 5px 10px;
		}
		#contact-link{
			margin-top: 0;

		}
		#_mobile_logo{
			width: 240px;
			img{
				margin-top: 5px;
				margin-bottom: 5px;
				max-height: 40px;
			}
		}
		@media (max-width: $md - 1){
			height: 50px;
		}
		@media (max-width: $sm - 1){
			height: auto;
			max-height: none;
			#_mobile_logo{
				width: 100%;
				clear: both;
				text-align: center;
				img{
					max-height: 60px;
				}
			}
		}
	}
	.header-top{
		padding-bottom: 20px;
		.row{
			> div{
				@media (min-width: $md){
					align-self: center;
				}
			}
			@media (max-width: $md - 1){
				flex-direction: column;
			}
		}
		.block-contact{
			display: none;
		}
		@media (max-width: $md - 1){
			background: $white;
		}
	}
	a{
		color: $gray;
		&:hover{
			color: $primary-color;
		}
	}
	.nav-full-width{
		background: $secondary-color;
	}
}

#homeslider{
	// display: none;
}

#index {
	#wrapper{
		padding-top: 0;
	}
	#homeslider{
		// display: block;
	}
}

#wrapper{
	box-shadow: none;
	background: $white;
	> .container{
		@media (min-width: 1280px){
			padding: 0;
		}
	}
	.breadcrumb{
		padding-left: 15px;
		padding-right: 15px;
		// padding-top: 20px;
		margin-bottom: 20px;
		li{
			font-size: 14px;
			&:after{
				// content: ">";
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}
}


#cms{
	#content{
		h1, h2, h3, h4, h5, h6{
			font-weight: 600;
			color: $black !important;
			line-height: 1.2em;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
}

.page-addresses .address, 
.page-authentication #content{
	box-shadow: none;
}

#cart{
	
}

#product{
	
}

#custom-text{
	h1, h2, h3, h4, h5, h6{
		color: $black;
	}
	p{
		font-size: 16px;
		color: $gray;
	}
}

#homecategoriez{
	padding-top: 30px;
	.section-title{
		font-size: 32px;
		text-transform: none;
		color: $black;
	}
	.category{
		margin-bottom: 30px;
		img{
			border: none;
		}
		.category-title{
			a{
				color: $black;
			}
		}
	}
}

#htmlcontent_home{
	padding-bottom: 30px;
	.item{
		padding-bottom: 30px;
	}
}

#footer{
	background: darken($light-gray, 5%);
	.contact-top{
		display: none;
	}
	.row{

		flex-wrap: wrap;
		@media (max-width: $md - 1){
			flex-direction: column;
		}
	}
	.footer-container{
		box-shadow: none;
		background: $light-gray;
		padding-top: 30px;
		padding-bottom: 30px;
		.links{
			li{
				a{
					color: $gray;
					&:hover{
						color: $primary-color;
					}
				}
			}
		}
	}
	h3,
	.myaccount-title,
	.title,
	.title .h3{
		font-size: 16px;
		color: $secondary-color;
		text-transform: none;
		a{
			font-size: 1em;
			color: $secondary-color;
		}
	}
	.block-contact{
		@media (max-width: $md){
			padding: 15px !important;
			padding-right: 15px !important;
			padding-left: 15px !important;
		}
	}

	.footer-bottom{
		padding: 30px 0;
		border-top: 1px solid darken($light-gray, 5%);
		background: $light-gray;
		.seal{
			p{
				font-size: 12px;
				color: $gray;
			}
			@media (max-width: $md - 1){
				flex-direction: row;
				flex-wrap: wrap;
				> div{
					margin-bottom: 20px;
				}
				.security,
				.tech{
					flex: 0 0 50%;
				}
			}
		}
		.copy{
			font-size: 12px;
			text-align: right;
			span{
				display: block;
			}
		}
		@media (max-width: $lg - 1){
			.copy{
				text-align: left;
				margin-top: 30px;
			}
		}
	}
}

#custom-text{
	@media (max-width: $md - 1){
		padding: 20px 15px;
	}
}

.product-price{
	color: $primary-color;
}

a:not(.btn){
	&:hover{
		color: $primary-color;
	}
}

.row{
	display: flex;
	@media (max-width: $md - 1){
		flex-direction: column;
	}
	&.cart-grid{
		@media (max-width: $md - 1){
			flex-direction: column;
		}
	}
}

.form-control{
	font-size: 14px;
	&:focus{
		outline-color: $primary-color;
	}
}

.input-group{
	.input-group-btn{
		>.btn{
			color: $gray;
		}
		>.btn[data-action="show-password"]{
			color: $light-gray;
		}
	}
}

.radio-label{
	box-shadow: none;
	border: 2px solid darken($light-gray, 5%);
}

.btn{
	text-transform: none;
	border-radius: 3px;
	&.btn-primary{
		background: $primary-color;
		&:hover,
		&:focus{
			background: lighten($primary-color, 10%);
		}
	}

	&.btn-secondary{
		background: $secondary-color;
		color: $white;
		&:hover,
		&:focus{
			background: lighten($secondary-color, 10%);
		}
	}

	&.btn-cta{
		background: $cta-color;
		color: $white;
		font-weight: 600;
		&:hover,
		&:focus{
			background: lighten($cta-color, 10%);
		}
	}

	&.btn-default{
		background: darken($light-gray, 10%);
		color: $gray;
		&:hover,
		&:focus{
			background: darken($light-gray, 15%);
		}
	}

	&.add-to-cart{
		background: $cta-color;
		text-align: center;
		border-radius: 6px;
		width: 100%;
		.caption{
			display: inline-block;
			text-align: left;
			strong{
				display: block;
				font-size: 16px;
				line-height: 1em;
				margin-bottom: 3px;
				position: relative;
				top: -10px;
				@media (max-width: $md){
			    	span{
						display: none;
					}
			    }
				
			}
			>span{
				display: block;
				font-weight: 400;
				font-size: 11px;
				line-height: 1em;
			}
		}
		.icon-bag{
			display: inline-block;
			width: 20px;
			height: 30px;
			margin-right: 10px;
			background: url('../img/icon-shop-bag-white.svg') center center no-repeat;
			background-size: contain;
		}
		&:hover,
		&:focus{
			background: darken($cta-color, 10%);
		}
		@media (max-width: $lg - 1){
			padding: 10px;
		}
		@media (max-width: $md){
			padding: 5px 10px;
		}
	}

	&.add-to-cart.loading{
		position: relative;
		background: darken($cta-color, 50%);
		cursor: no-drop;
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url('../img/addtocart_loader.gif') center center no-repeat;
			background-size: 30px auto;
		}
		&:hover{
			background: darken($cta-color, 50%) !important;
		}
	}

	@media (max-width: $md - 1){
		font-size: 12px;
		line-height: 12px;
	}
}

#cart .btn-cta,
#checkout .btn-cta{
	font-size: 14px;
	line-height: 14px;
	padding: 10px;
}

//pagination
.pagination{
	>div{
		font-size: 14px;
		&:first-child{
			line-height: 1.5em;
		}
		@media (max-width: $md - 1){
			font-size: 12px;
		}
	}
	.page-list{
		padding: 0;
		.material-icons{
			font-size: 20px;
		}
	}
	a{
		color: $gray;
		display: inline-block;
		padding: 5px;
	}
	a:not(.previous):not(.next){
		display: inline-block;
		padding: 5px;
	}
	.current{
		a{
			font-size: 14px;
			color: $primary-color;
		}
	}
}

.sort-by-row{
	@media (max-width: $md - 1){
		flex-direction: row;
	}
}

.products-sort-order{
	.select-title{
		padding-right: 30px;
		position: relative;
		font-size: 14px;
		line-height: 14px;
		box-shadow: none;
		.material-icons{
			position: absolute;
		    right: 3px;
		    top: calc(50% - 12px);
		}
	}
	.dropdown-menu{
		background: $white;
		.select-list{
			color: $black;
			font-size: 14px;
			line-height: 14px;
			&:hover{
				background: darken($light-gray, 5%);
				color: $black;
			}
		}
	}
}

.contact-rich{
	color: $gray;
	.block{
		font-size: 14px;
		a{
			font-size: 14px;
		}
		.icon{
			width: 30px;
			.material-icons{
				font-size: 20px;
			}
		}
	}
}

.card{
	box-shadow: none;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}

.form-control{
	border-radius: 3px;
	border: 1px solid $light-gray;
	&:focus{
		outline-color: $secondary-color;
	}
}