@import "compass/css3";
@import "theme_variables";

.cart-preview{
	
	width: 140px;
	.header{
		margin-top: 0;
		padding: 0;
	}
	a,
	.inactive-cart{
		display: block;
		background: $white;
		padding: 10px 10px 10px 50px;
		position: relative;
		z-index: 1;
		border: 1px solid $light-gray;
		border-radius: 3px;
		box-shadow: 0 2px 5px rgba($black, .06);
		text-decoration: none;
		min-height: 50px;
		.cart-label{
			font-weight: 600;
			color: $black;
			font-size: 14px;
			line-height: 1em;
			display: block;
			margin-bottom: 3px;
		}
		.total-price{
			font-weight: 400;
			color: $black;
			font-size: 12px;
			line-height: 1em;
			display: block;
			&.empty{
				display: none;
			}
			@media (max-width: $md - 1){
				font-weight: 600;
				font-size: 14px;
				margin-top: 5px;
			}
		}
		&:hover{
			.cart-label{
				color: $secondary-color;
			}
		}
	}
	.icon-bag{
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/icon-shop-bag.svg') center center no-repeat;
		background-size: contain; 
		position: absolute;
		top: 10px;
		left: 10px;
	}
	
	&.active{
		background: none;
	}
	&.inactive{
		.icon-bag{
			opacity: .2;
		}
		.header{
			display: block;
		}
	}
}

#_desktop_cart{
	
}

#header{
	.header-nav{
		.cart-preview{
			padding: 0;
			a,
			.inactive-cart{
				min-height: 40px;
				padding: 5px 5px 5px 40px;
			}
			.icon-bag{
				width: 20px;
				height: 20px;
				top: 5px;
			}
			&.active{
				background: none;
			}
		}
	}
}

#blockcart-modal{
	&.in{
		opacity: 1 !important;
	}
	.modal-dialog{
		max-width: 600px;
	}
	.modal-body{
		padding: 20px;
		> .row{
			flex-direction: column;
		}
		.img-block{
			max-width: 170px;
			margin: auto;
		}
		.infos{
			margin-top: 10px;
			margin-bottom: 10px;
			text-align: center;
			>span{
				display: block;
				margin-bottom: 5px;
			}
		}
		.product-name{
			color: $black;
		}
		.product-price{
			display: block;
			margin-bottom: 5px;
			font-weight: 600;
			font-size: 18px;
		}
		.cart-content{
			padding-left: 0;
			.cart-content-btn{
				display: flex;
				justify-content: center;
				.btn{
					flex: 0 0 40%;
				}
			}
		}
	}
	.modal-content{
		
	}
	.modal-header{
		
	}
	.divide-right{
		
	}
}
