@import "compass/css3";
@import "theme_variables";

.block-categories{
	padding: 15px;
	box-shadow: none;
	.h6{
		text-transform: none !important;
	}
	.category-sub-menu{
		li[data-depth="0"]{
			> a{
				font-weight: 400;
				color: $gray;
				font-size: 14px;
				border-color: rgba(black, .1);
				&:hover{
					color: $black;
				}
			}
		}
	}
}