@import "compass/css3";
@import "theme_variables";

#search_filters{
	padding: 15px;
	box-shadow: none;
	.h6{
		text-transform: none !important;
	}
	.facet{
		.facet-label{
			a{
				font-size: 12px;
			}
		}
	}
}