.home_top_tab{clear:both;}
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {cursor:default }
/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tabs { position: relative; padding:0; zoom: 1; }
#tabs #ul_cs_tab{display:block;overflow:hidden;position:relative;z-index:10;min-height:20px;}
.ui-tabs .ui-tabs-nav li {float: left; position: relative;white-space:nowrap;transition:all 0.5s ease 0s;}
.ui-tabs .ui-tabs-nav li.last{}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li a:hover{ color:#E92D2D;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer;}
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding:0; background: none;}
.tabs-carousel{clear:both;position: relative; margin: 25px 0;}
.ui-tabs .ui-tabs-hide { display: none; }
.home_top_tab a.button_mobile{display:none}

/* Component containers
----------------------------------*/
.ui-widget {}
.ui-widget .ui-widget {}
.ui-widget-content {margin-bottom:0; border:none; background-color:transparent }
.ui-widget-header a { color:#222222 }
.home_top_tab .prev,.home_top_tab  .next{top:2px;}
/*product list*/
.product-list li .category_name{color: #969696;font-size:11px;margin-bottom:7px;}


/*jquery.carouFredSel-6.1.0-packed*/
.list_carousel {
	width: 360px;
}
.list_carousel ul {
	display: block;
}

.list_carousel.responsive {
	width: auto;
	
	padding:0;
}

.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.ui-tabs .ui-tabs-hide {
    visibility: hidden;
    height: 0;
}

.wt_home_filter_product_tab{margin-top:25px;padding:0;}
.wt_home_filter_product_tab ul.title-tab{margin-bottom:20px;background:#fff; }
.wt_home_filter_product_tab ul.title-tab li h4{}
.wt_home_filter_product_tab ul.title-tab li
{
	float: left;
	height: auto;
	list-style: none outside none;
	padding:0;
	margin-right:5px;
	position: relative;
	white-space: nowrap;
	z-index:2;
}


.wt_home_filter_product_tab ul.title-tab li:first-child{margin-left:0; z-index:3;}
.wt_home_filter_product_tab ul.title-tab li.last{ z-index:1;}
.wt_home_filter_product_tab ul.title-tab li a
{
	color: #999;
	float: left;
	font-family: 'Raleway';
	font-size: 18px;
	padding: 8px 20px 9px 20px;
	text-align: left;
	text-decoration: none;
	text-align:center;
	width: auto;
	transition: all 0.3s ease 0s;
}
.wt_home_filter_product_tab ul.title-tab li.ui-tabs-selected a{ 
background: #d84452; border-radius: 5px;
color:#fff; font-family: 'Raleway'; font-size:18px;
}
.wt_home_filter_product_tab ul.title-tab li.ui-tabs-selected a:hover{color:#fff;}
.wt_home_filter_product_tab ul.title-tab li a:hover{color:#d84452;}

.wt_home_filter_product_tab .content-tab-product{clear:both; }
.wt_home_filter_product_tab .contet_line{padding:0 5px; padding:19px 50px}
.wt_home_filter_product_tab  .contet_line .line {border-top:1px solid #ccc;}


.wt_home_filter_product_tab #contet_line_mobile{display:none;}

@media (min-width: 768px) and (max-width: 991px) {
.wt_home_filter_product_tab #contet_line_mobile{display:block;}
.wt_home_filter_product_tab #contet_line_tab{display:none;}
}
@media (max-width: 767px) {
.wt_home_filter_product_tab #contet_line_mobile{display:block;}
.wt_home_filter_product_tab #contet_line_tab{display:none;}
.cycleElementsContainer ul.product-list li a img{width: 100%;}
}


.wt_home_filter_product_tab .cycleElementsContainer ul.product-list li.ajax_block_product {
	float:left;
	margin:10px 0;
	position:relative;
	height:auto;
	width:240px;
	text-align:center;
} 
.wt_home_filter_product_tab .cycleElementsContainer ul li.first_item{}
.wt_home_filter_product_tab  .cycleElementsContainer h3.name_product{margin-top:15px;line-height:10px;}
.wt_home_filter_product_tab  .cycleElementsContainer h3.name_product a{font-family:'Raleway';font-size:13px; color:#000;margin-top:10px;margin-right:0px; line-height: 18px;}
.wt_home_filter_product_tab  .cycleElementsContainer h3.name_product a:hover{color:#d84452;}
.wt_home_filter_product_tab .cycleElementsContainer .price{font-family:'Raleway' ;font-size:13px; color:#d84452;}
.wt_home_filter_product_tab  .cycleElementsContainer .price-discount{font-family:'Raleway'; font-size:13px; color:#999;text-decoration:line-through;margin-right:5px;}

.cycleElementsContainer ul li .button-container{position: relative; bottom:-800px; transition:all 0.5s ease 0s;display:block; margin: 5px 20px 15px 20px; overflow:hidden; }
.cycleElementsContainer ul li:hover .button-container{ bottom:0px; transition: all 0.5s ease 0s;}

@media (max-width: 991px) {
.cycleElementsContainer ul li .button-container{position: relative; bottom:0 !important;}
}
@media (max-width: 767px) {
.cycleElementsContainer ul li .ajax_add_to_cart_button span{display:none;}
.cycleElementsContainer ul li .button-container > div:first-child span{display:none !important;}
.wt_home_filter_product_tab   a.btn{top: -33px !important;}
.wt_home_filter_product_tab   a.next{ top: -30px !important;;}
}
.cycleElementsContainer ul li .button-container > div:first-child span {
  display: inline-block;
}

.cycleElementsContainer ul li .button-container  > div {
  float: left;

}
.cycleElementsContainer ul li .button-container > div span {
  display: none;
}

.cycleElementsContainer ul li .button-container .addtocart,.cycleElementsContainer ul li .button-container .wishlist{margin-right: 5px;}


.cycleElementsContainer ul li .ajax_add_to_cart_button{position:relative; height: auto; width; auto;}


.wt_home_filter_product_tab   a.btn{
  background-image: url("../img/bkg_pre_next.png");
  background-repeat: no-repeat;
  float: left;
  height: 20px;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: -38px;
  transition: all 0.3s ease 0s;
  width: 20px;
  z-index: 0;
}

.wt_home_filter_product_tab   a.next {
  background-position: 0 100%;
  right: 0;
   top: -35px;
}
.wt_home_filter_product_tab  a.next:hover {
  background-position: 100% 100%;
}
.wt_home_filter_product_tab  a.prev {
  right: 25px;
  background-position:0 0;
}
.wt_home_filter_product_tab  a.prev:hover {
  background-position: 100% 0;
}
.wt_home_filter_product_tab  .content_price{margin-top:5px;margin-bottom:5px; font-weight: bold;}

ul.product-list .ajax_block_product .thumbs-content  .view_scroll_left{ margin-top: 10px;}
ul.product-list .ajax_block_product .thumbs-content  .view_scroll_right{ margin-top: 10px;}

.ajax_block_product .thumbs-content {
  background-color: #ffffff;
  border-color: #31a8d2;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  box-sizing: content-box;
  height: 100%;
  left: 0;
  margin-top: -1px;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 80px;
  z-index: 10;
}

.ajax_block_product .thumbs-content .thumbs_list {
  height: 270px;
  margin-top: 10px;
  overflow: hidden;
  width: 80px;
}
.ajax_block_product .thumbs-content  .view_scroll_left{display:none;}

.ajax_block_product .thumbs-content .thumbs_list li {
  border: 0 none;
  margin: 0;
}
.ajax_block_product .thumbs-content .thumbs_list li a {
  border: none;
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out 0s;
}


.ajax_block_product .thumbs-content .thumbs_list li {
  border: 0 none;
  margin: 0;
}

ul.product-list li .wt_container_thumbnail:hover {
  
}

ul.product-list li .product-block {
  
   border: 1px solid transparent;
  height:100%;
  position: relative;
}

ul.product-list li .wt_container_thumbnail:hover {
  border-color: #ccc !important;

		-webkit-box-shadow: 1px 0px 7px -3px #888, -1px 0px 7px -3px #888,  0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	-moz-box-shadow: 1px 0px 7px -3px #888, -1px 0px 7px -3px #888, 0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	box-shadow: 1px 0px 7px -3px #888, -1px 0px 7px -3px #888, 0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	
}

ul.product-list li .product-block {
  
   border: 1px solid transparent;
  height:100%;
  position: relative;
}

.ajax_block_product .thumbs-content {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-sizing: content-box;
  height: 100%;
  left: 0;
  margin-top: -1px;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 80px;
  z-index: 10;
  border-right: none;
}

.ul.product-list li.first_item .thumbs-content {

  transition: all 0.4s ease 0s;
  border-left: none !important;
   border-right: 1px solid #ccc;

}
ul.product-list  li.first_item  .wt_container_thumbnail:hover .thumbs-content {
  left: 100%;
  opacity: 1;
  z-index:999;
  -webkit-box-shadow: 1px 0px 7px -3px #888,  0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	-moz-box-shadow:  1px 0px 7px -3px #888, 0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	box-shadow:  1px 0px 7px -3px #888, 0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
  	
}
ul.product-list li .wt_container_thumbnail:hover .thumbs-content {
  left: -100px;
  opacity: 1;
  z-index:99;
  -webkit-box-shadow: -1px 0px 7px -3px #888,  0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	-moz-box-shadow:  -1px 0px 7px -3px #888, 0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
	box-shadow:  -1px 0px 7px -3px #888, 0px 1px 7px -3px #888, 0px -1px 1px -3px #888;
}



.wt_home_filter_product_tab .title_tab_hide_show a{padding:8px 20px 9px 20px; font-family:'Raleway'; font-size:18px; margin-right:10px; color: #fff; background: #d84452; border-radius: 5px;
 }
