@import "compass/css3";
@import "theme_variables";

.block-social{
	ul{
		margin-bottom: 0;
	}
	li{
		background-color: $secondary-color;
		border-radius: 100%;
		background-size: 80%;
		background-position: center center;
		&:hover{
			background-color: lighten($secondary-color, 10%);
		}
	}
	@media (max-width: $md - 1){
		text-align: left;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}