@import "compass/css3";
@import "theme_variables";

.block-contact{
	padding-left: 15px;
	font-size: 14px;
	border-left: none;
	.address{
		margin-bottom: 20px;
	}
	.contact-infos{
		span{
			display: block;
		}
		a{
			color: $gray;
			&:hover{
				color: $secondary-color;
			}
		}
	}
	@media (min-width: $md) and (max-width: $lg - 1){
		
		padding-top: 30px;
		.content{
			display: flex;
			width: 100%;
		}
		.address{
			width: 30%;
		}
		.contact-infos{
			padding-left: 30px;
		}
	}
	@media (max-width: $md){
		padding: 15px !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}

.contact-top{
	background: $light-gray;
	font-size: 12px;
	line-height: 1em;
	padding: 5px 10px;
	margin-left: 15px;
	border-radius: 3px;
	position: relative;
	right: -5px; 
	width: 135px;
	.whatsapp{
		margin-bottom: 3px;
	}
	.fa-whatsapp{
		display: inline-block;
		width: 14px;
		height: 14px;
		background: url('../img/icon-whatsapp.svg') center center no-repeat;
		background-size: contain; 
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
	.fa-phone{
		display: inline-block;
		width: 14px;
		height: 14px;
		background: url('../img/icon-phone.svg') center center no-repeat;
		background-size: contain; 
		margin-right: 5px;
		position: relative;
		top: 2px;
	}
	@media (max-width: $xl - 1){
		width: 175px;
	}
	@media (max-width: $lg - 1){
		display: none;
	}
}

#_mobile_contact_link{
	a{
		text-transform: uppercase;
		color: $white !important;
		font-weight: 600;
		font-size: 16px;
	}
}