@import "compass/css3";
@import "theme_variables";

.block_newsletter{
	margin-bottom: 0;
	#block-newsletter-label{
		font-size: 14px;
	}
	.row{
		flex-direction: column;
	}
	form{
		input[type="text"]{
			border-radius: 3px;
		}
	}
	.conditions{
		font-size: 12px;
		color: $secondary-color;
		padding-top: 5px;
		margin-bottom: 0;
	}

	@media (max-width: $md - 1){
		padding-top: 30px;
		border-bottom: none;
	}
}