@import "theme_variables";

#_desktop_user_info{
	
}

#header{
	.header-nav .user-info{
		margin: 0;

		.logged{
			color: $secondary-color;
		}
	}
	.user-info{
		a{
			float: right;
			&:hover{
				color: $secondary-color;
			}
		}

	}
	#_mobile_user_info{
		padding-top: 5px;
	}
}