@import "theme_variables";

#menu-icon-desktop{
	
}

#_desktop_top_menu{
	margin-bottom: 0;
}

#header{
	#top-menu{
		float: left;
		width: 100%;
		margin-bottom: 0;
		>li{
			float: left;
			&:hover{
				a{
					color: $white;
					background: $dark-secondary;
				}
			}
		}
		a{
			padding: .6rem .6rem;
			color: $white;
			text-transform: uppercase;
			&:hover{
				color: $white;
				background: $dark-secondary;
			}
		}
		.sub-menu{
			margin: 0;
			left: 15px;
		    padding: .625rem;
		    background: $dark-secondary;
	        box-shadow: 0 6px 11px rgba(0,0,0,.1);
		    .top-menu{
		    	float: left;
		    	width: 100%; 
		    	> li{
			    	margin: 0;
			    	padding: 0 1.25rem;
			    }
		    }
		    a{
		    	&:hover{
		    		color: $primary-color;
		    	}
		    }
		}
	}
	.header-top{
		.menu{
			margin-bottom: 0;
		}
	}
	.header-bottom{
		
	}
}

#mobile_top_menu_wrapper{
	background: $secondary-color;
	.top-menu{
		li{
			float: none;
			width: 100%;
		}
	}
}

